[2018-07-16 14:46] jplatts12 opened #1 "Meetup - Polkadot - London, UK"
[London meetup.com group](https://www.meetup.com/Polkadot-London/events/252230181/)

[2018-07-16 14:48] jplatts12 commented on #1
[Meetup.com London group](https://www.meetup.com/Polkadot-London/events/252230181/)

[Latest meetup](https://www.meetup.com/Polkadot-London/events/252230181/) - 12 July, 2018

[2018-07-16 14:55] jplatts12 opened #2 "Meetup - Polkadot - Berlin, Germany"
**Meetup.com group**
[Berlin meetup.com group](https://www.meetup.com/Polkadot-berlin/)

**Previous events**
[Polkadot and the road to web3 meetup](https://www.meetup.com/meetup-group-IXLblKyB/events/252206834/) - 18, July 2018
[On-chain governance meetup](https://www.meetup.com/Polkadot-Berlin/events/252633409/) - 26 July, 2018

[2018-07-16 14:55] jplatts12 commented on #2
[On-chain governance meetup](https://www.meetup.com/Polkadot-Berlin/events/252633409/) - 26 July, 2018

[2018-07-16 14:56] jplatts12 commented on #2
[Polkadot and the road to web3 meetup](https://www.meetup.com/meetup-group-IXLblKyB/events/252206834/) - 18, July 2018

[2018-07-16 15:05] jplatts12 opened #3 "Meetup - Polkadot - San Francisco, USA"
[San Francisco meetup.com group](https://www.meetup.com/Polkadot-San-Francisco/)

[2018-07-16 15:07] jplatts12 opened #4 "Meetup - Polkadot - Seoul, South Korea"
Meetup.com group: https://www.meetup.com/Polkadot-Seoul/

Rest of Korea meetup issue: https://github.com/w3f/Web3-collaboration/issues/41

[2018-07-16 15:07] jplatts12 opened #5 "Meetup - Polkadot - Tokyo, Japan"

[2018-07-16 15:08] jplatts12 opened #6 "Meetup - Polkadot - Rotterdam, Netherlands"
A Rotterdam event has been tenatively announced, please see: https://www.meetup.com/Polkadot-Netherlands/

[2018-07-16 15:08] jplatts12 opened #7 "Meetup - Polkadot - Vancouver, Canada"

[2018-07-17 14:41] EdwardAThomson opened #8 "Open Source Block Explorer"
We would like to collaborate with teams in order to bring about an open source block explorer for the Polkadot network.

[2018-07-17 14:56] EdwardAThomson opened #9 "Open Source Node Explorer"
We would like to collaborate with teams in order to bring about an open source node explorer for the Polkadot network.

**Take inspiration from Ether Nodes:**
https://www.ethernodes.org/network/1

**Useful information to display:**
Client types, client versions, locations and any other info. This will require some fancy node crawling to figure out whats going on.

**Difference between a node explo

[2018-07-17 14:59] EdwardAThomson opened #10 "Wallets for Polkadot"
We would like to collaborate with teams in order to create wallets for the Polkadot network.

There is limited documentation yet. However, teams could take a look at the code that Jaco wrote for the current Polkadot UI and try to figure something out.

For reference, here is the current UI:
https://poc-2.polkadot.io/#/explorer

And the code:
https://github.com/polkadot-js/apps

[2018-07-17 15:52] EdwardAThomson opened #11 "Development: Create new parachains for Polkadot"
We would like to invite teams to discuss developing new parachains for Polkadot.

## Parachains introduction
The following links will be useful reading for starting to understand what parachains are and how to implement them:
* "[Polkadot:  the parachain](https://medium.com/polkadot-network/polkadot-the-parachain-3808040a769a)" - a blog by Robert Habermeier.
* [Preparing to build on Polkadot](http

[2018-07-18 14:51] EdwardAThomson opened #12 "Polkadot Runtime Environment: Alternative Implementation Grant"
The Web3 Foundation is looking to attract teams for the development of an alternative implementation of Polkadot Runtime Environment (PRE), which is a core component of Polkadot.

The first step in writing a fully-fledged Polkadot implementation is to start by writing an implementation of the PRE. The idea behind the PRE is that it can be used to create standalone blockchains, while also allowing

[2018-07-18 15:46] EdwardAThomson opened #13 "Test: Polkadot PoC2"
[Polkadot PoC-2 is here: Parachains, runtime upgrades, and Libp2p networking](https://medium.com/polkadot-network/polkadot-poc-2-is-here-parachains-runtime-upgrades-and-libp2p-networking-7035bb141c25)!

Please help us test the network by downloading the code and running a node.

Latest installation instructions can be found here:
https://github.com/paritytech/polkadot/

If you are moving from PoC

[2018-07-23 13:52] EdwardAThomson opened #14 "Hardware wallet support for Polkadot"
We would like to invite teams to discuss providing hardware wallet support for Polkadot.

[2018-08-06 13:37] EdwardAThomson opened #15 "Meetup - Polkadot - Copenhagen, Denmark"
As with the event in Zurich, here is a structured overview of the event:

* **What is the plan**: To present Polkadot at the leading Ethereum meetup in Copenhagen. Currently, I'm looking at November this year.
* **How many people**: The group is organised by Troels and I adding my support from the Polkadot side.
* **Do you need help from W3F**: Provide team members to do a presentation on Polkadot

[2018-08-06 13:37] EdwardAThomson opened #16 "Meetup - Polkadot - Stockholm, Sweden"
We are looking to invite people to help organise and co-host a Polkadot meetup in Stockholm, Sweden

[2018-08-06 13:41] EdwardAThomson opened #17 "Meetup - Polkadot - Barcelona, Spain"
We are looking to invite people to help organise and co-host a Polkadot meetup in Barcelona, Spain.

[2018-08-06 13:55] EdwardAThomson opened #18 "Meetup - Polkadot - Paris, France"
We are looking to invite people to help organise and co-host a Polkadot meetup in Paris, France.

[2018-08-06 14:07] EdwardAThomson opened #19 "Meetup - Polkadot - Sydney, Australia"
We are looking to invite people to help organise and co-host a Polkadot meetup in Sydney, Australia.

[2018-08-06 14:11] EdwardAThomson opened #20 "Meetup - Polkadot - Adelaide, Australia"
We are looking to invite people to help organise and co-host a Polkadot meetup in Adelaide, Australia.

[2018-08-06 14:44] paulpounendis commented on #20
Fantastic.

I prob base alot of the talk/meetup once it's organised on this.
https://www.youtube.com/watch?v=lIghiCmHz0U

[2018-08-06 15:26] EdwardAThomson commented on #20
Great. Thanks for the interest Paul! We have a bunch of resources that we can supply to help kick start your meetups. Gav's London presentation is a good starting point!

We'd like to empower you to talk about Polkadot to local groups you participate in, and we are more than happy to help you organize events yourself. Ideally, we might be able to get a some people from Parity / W3F to come visit,

[2018-08-06 15:28] paulpounendis commented on #20
Thanks. Done and done.

[2018-08-07 10:12] anjj123 commented on #19
Happy to help with this. I can also assist with inter-state meetups (Melbourne in particular has a big community worth exploring).

[2018-08-07 10:14] anjj123 commented on #10
We have a team working on this (per our discussion). Will upload further details and particulars when ready!

[2018-08-07 10:17] anjj123 commented on #11
We've been exploring this too, and it ties in with our other focus areas.

[2018-08-07 14:47] EdwardAThomson opened #21 "Meetup - Polkadot - Shanghai, China"
We are looking to invite people to help organise and co-host a Polkadot meetup in Shanghai, China.

[2018-08-08 12:10] inthestorm commented on #11
I am new to polkadot project and attracted heavy by its interoperability. I want a try

[2018-08-08 12:14] jiangfuyao commented on #11
I want to start learning from the basic parachain and start a grand parachain.

[2018-08-08 12:44] agryaznov commented on #11
I'd like to play with the Substrate framework to create new chains

[2018-08-08 14:10] tucsonblockchain commented on #11
http://bitcoinmacroeconomics.com/2018/07/22/tucson-arizona-ethereum-ecosystem/ Definitely interested in helping and am interested in establishing Polkadot hub here in Tucson if anybody wants to come visit part time or long term for work / life balance. Let me know I can help further with project or help guide as I learn. Thx

[2018-08-08 14:11] yuelipeng commented on #11
We want to build a decentralized exchange based  on substrate，and this DEX will connecting to polkadot as a parachain。

[2018-08-08 19:29] EdwardAThomson commented on #11
I've updated the original post with more details on parachains. I've also created a collaboration form that I'd like people to fill out. I realise that it isn't enough to just note your interest but you should also give some indication of what you are planning.

[2018-08-08 22:16] tucsonblockchain commented on #11
Set up Polkadot NOOBS Watercooler https://riot.im/app/#/room/!zqIrlPQHNBkzZAICka:matrix.org  and also https://appear.in/polkadotnoobs PolkadotNOOBS (audio and video) for purpose of study group tp learn as we go, in collaboration and for civil discourse.

[2018-08-09 07:07] ttmc commented on #11
@tucsonblockchain When I click on that riot.im link, and then click to join the discussion, I get "Failed to join room. You are not invited to this room."

[2018-08-11 11:15] aj07 opened #22 "Meetup - Polkadot - Bangalore, India"
Hy, I got chance to meet Jack in Ethindia during India's first Polkadot meetup. I wanted to organize further meetup of Web3 foundation for Bangalore and Delhi region.

I got grant from ETH Foundation to work on Solidity. Currently doing lots of research on Scalability and Polkadot, Parity Substrate.

We are already organizing meetups for Ethereum and Hyperledger ecosystem. We have lots of interest

[2018-08-11 11:33] kggp1995 commented on #22
Thanks for the pitch @aj07 .

Team, we'd love to connect the dots in India!!

[2018-08-11 11:56] ankurdaharwal opened #23 "Meetup - Polkadot - Kuala Lumpur, Malaysia"
Hi,

I would be delighted to organize a meetup of Web3 foundation for KL region.

I'm currently researching on Scalability and Polkadot, Parity Substrate.

I'm sure we'll have lots of interest in the Polkadot innovation. A lot of Open Source Developers will be interested to participate and be involved in the Web3 Ecosystem.

Best Regards,
Ankur Daharwal
ankur.daharwal@gmail.com

[2018-08-13 09:29] EdwardAThomson commented on #23
Hey Ankur

Thanks for reaching out. We appreciate the enthusiasm and the desire to help organise meetups in your region.

As I pointed out to Ankit in the [Bangalore meetup issue](https://github.com/w3f/Web3-collaboration/issues/22), we're still sorting out the process of how we want to manage and engage with the community in order to get the most out of meetups globally. We can get you some prese

[2018-08-13 13:45] tucsonblockchain opened #24 "Tucson Polkadot Fishermans Cooperative - Tucson, Arizona USA"
Looking  to establish Tucson Polkadot Fishermans Cooperative. Starting as self sovereign ID, moving to Meetup and onto cooperative if not united cooperative among many.....

[2018-08-13 13:48] tucsonblockchain opened #25 "Polkadot Beginners Lounge working document"
Coinciding with the "Riot" Polkadot Beginners Lounge is the working document (feel free to edit working document if relevant to Polkadot or helpful to beginners)!
https://docs.google.com/document/d/1SNey7jheZrFk-r977_qgFDah7OcjBYMH3O5TfbDZWJI/edit?usp=sharing

[2018-08-13 15:18] tucsonblockchain opened #26 "Meetup - Polkadot - Tucson, USA"

[2018-08-13 19:14] emielvanderhoek commented on #8
I started working on the Polkadot (or generalized Substrate) Explorer today.

Short intro: my name is Emiel and I am organizer of the Polkadot NL meetup (inaugural meetup on 2 Oct 2018 in Rotterdam). Furthermore I am working on a multi-chain block explorer called WEB3SCAN. An early prototype for this multi-chain explorer is available at https://explorer.web3scan.net

**THE PLAN**
I intend to build

[2018-08-14 10:59] keorn commented on #8
Sounds great, looking forward to updates.
I heard that @tomusdrw is working on an RPC to get extrinsics for a block by hash already!

[2018-08-16 17:40] EdwardAThomson commented on #26
Thanks for showing interest in hosting a Polkadot meetup. In order for us to help you better, it would appreciate if you could add a few more details of what you are thinking (specifically for *this* meetup). We really want to make sure we can do the best thing for teams who want to build a better community.

I've included a template and some example responses in the following document:
[Examples]

[2018-08-17 14:01] EdwardAThomson opened #27 "Meetup - Polkadot - Zürich, Switzerland"
This is issue is real, but I'm adding some example text to show how I'd like meetup issues to be created. :-)

* **What is the plan**: To organise a Polkadot meetup in Zürich. Currently, the plan is to have the first one on Wednesday 26th September at ETH Zürich. There will be a new meetup group created on meetup.com. The event will contain all the necessary details that the community will need to

[2018-08-19 20:10] adrianbrink commented on #12
Is there a preferred language for the implementation?

An alternate implementation in Rust or Go would be very useful early on, since a lot of the current blockchain stack is written in one or the other.

Down the road, it would be interesting to get an implementation in JavaScript (if it ever supports compilation to wasm) or Java/C#.

[2018-08-19 20:17] adrianbrink opened #28 "Development: Create example parachains build on substrate"
ref: https://github.com/paritytech/polkadot/issues/5

[2018-08-19 21:53] burdges commented on #14
I'd think HSMs sounds like a higher priority actually.

[2018-08-19 22:41] EdwardAThomson commented on #14
Yeah, we are interested in HSMs for the use cases you are talking about plus hardware wallets for transactions. We could perhaps split them into two separate issues too.

I have been putting together notes for validator security and HSMs are definitely part of it.

[2018-08-19 22:42] EdwardAThomson commented on #28
Yeah. There is also the following issues which is basically the same thing. ;-)

https://github.com/w3f/Web3-collaboration/issues/11

[2018-08-19 22:48] EdwardAThomson commented on #12
I'm due to release more information tomorrow (a little behind expected timeframe!).

The [reference implementation is in Rust](https://github.com/paritytech/polkadot/tree/master/substrate) (i.e. Parity Tech), plus there is [Jaco's JS implementation](https://github.com/polkadot-js/client) (a full Substrate client, but without block authoring).

The preferred implementations are: Java, Go, C++.

So,

[2018-08-20 21:17] aj07 commented on #9
I would like to work on this project along with my other teammates.
Background: Myself, Ankit is working in Blockchain ecosystem from last 2.5 years. I had worked with Red Hat on Distributed System (GlusterFS) and on RPC protocol in GSoC. Also, I was the grantee from Eth Foundation in wave1 to work on solidity.  Previously we have created some node explorer for quorum project.
We would love to wor

[2018-08-20 22:06] EdwardAThomson commented on #9
That sounds awesome! :-) We can try to help you coordinate with the right people. Obviously you can find the devs in the usual watercooler chat, otherwise you can also try in [Substrate Technical](https://riot.im/app/#/room/#substrate-technical:matrix.org).

I'd say dive right in! Feel free to drop thoughts here, or you can mail them over.

[2018-08-21 15:24] fkbenjamin opened #32 "Meetup - Polkadot - Munich, Germany"
My name is Florian and I am one of the founders of [Staking Facilities](http://stakingfacilities.com), a Munich-based consensus infrastructure provider. We operate secure, reliable and performant Proof of Stake infrastructure for a variety of DLT/Blockchain protocols. Besides that, we are also hosting meetups for our local community and already had the pleasure to hear talks from projects like **_

[2018-08-22 12:40] EdwardAThomson commented on #32
Awesome! Sounds like you guys are meetup pros already. :-) Jack did mention that he spoken to you guys, but we appreciate you adding an issue to our repo.

I'm pretty sure we will be able to provide some help with the event. However, before I can promise anything the comms / meetup team are due a catch up to make sure we have a robust process in place for handling this.

[2018-08-22 14:40] fkbenjamin commented on #32
No worries, we can be patient. If you require any further information from us, you can write us here or contact us directly. Jack has my contact information. However, I saw that there is an application form. Should I also enter our information there?

[2018-08-23 09:57] EdwardAThomson commented on #32
Yeah, it is probably worthwhile filling in the application form. It helps us to keep all the information on teams in one place. :-)

[2018-08-23 16:34] aj07 commented on #9
Thanks @EdwardAThomson  I have been active on riot. Please , put me touch with right person.

[2018-08-24 08:46] EdwardAThomson commented on #9
Cool. Let me reach out to someone at Parity to find out who the best person is for you to speak to. If you don't hear anything from Parity by end of next week then drop me a message here or on riot (@edwardt:matrix.org).

[2018-08-25 23:38] gcsfred2 commented on #12
@EdwardAThomson  Are there timelines for the grant applications?

[2018-08-26 01:16] vikmeup commented on #10
@EdwardAThomson we are open to add support for Polkadot in [Trust Wallet](https://trustwalletapp.com). Mobile wallet and DApps Browser :)

Is integration docs already available?

[2018-08-26 18:37] Cambrial commented on #1
Hey guys,

I'd love to help run the Polkadot meetup in London if you're still looking for event partners! Let me know if that's the case :)

[2018-08-26 18:39] Cambrial commented on #18
Hey guys. We might be interested in co-hosting the Polkadot meetup in Paris. Which date did you have in mind?

[2018-08-27 09:03] EdwardAThomson commented on #10
@vikmeup That would be cool. :-)

No integration documentation yet. However, you could take a look at the code that Jaco wrote for the current Polkadot UI and try to figure something out. It sounds like Anjj123 is doing that. It is still early days in Polkadot so we are lacking the documentation we need.

For reference, here is the current UI:
https://poc-2.polkadot.io/#/explorer

And the code:
ht

[2018-08-27 09:46] EdwardAThomson commented on #18
We don't have any date in mind, but rather we are open to discussion on it. We would love for the community to suggest a timeframe and then help us to make it happen. If you want to take the lead on this initiative for Paris that would be great!

We should be able to help with some sponsorship and hopefully be able to provide a speaker too.

Our current info on meetups is here:  https://github.com

[2018-08-27 11:35] vadimicus commented on #10
@@EdwardAThomson Hey!
We are working on [Multy](http://multy.io) - mobile open source blockchain wallet.
And we can integrate Polkadot to our apps.

Please ping me in Telegram @vadimicus

[2018-08-27 16:17] gcsfred2 commented on #10
I'm seeking to help a team or a partner in this endeavour. If there's someone or an existing team that is looking for help, please contact me. gfrеⅾеrісο аt іģսаzս ḋοt ѕοⅼսtіоոѕ or on Twitter: ģсѕfrеḋ.

[2018-08-27 20:33] pascuin commented on #10
Would be great to have a Polkadot integration for our secure mobile wallet project [AirGap](https://airgap.it).

[2018-08-27 20:50] charleyhine opened #33 "Meetup - Polkadot - Denver, USA"

[2018-08-28 10:46] vadimicus commented on #10
@EdwardAThomson got it, thanks.
Do you have some kind of grant for developers to implement this feature?

[2018-08-28 11:57] EdwardAThomson commented on #26
So we have been talking about this meetup in the W3F HQ. We will be able to sponsor the pizza as requested. We would appreciate if you could create the event on the event on meetup.com and then post us the link.

I think you are right to wait for the university to start back again in the new semester! Late October sounds good. We can also get you Polkadot presentation material.

[2018-08-28 12:31] EdwardAThomson commented on #33
@charleyhine Hey!

Thanks for showing interest in hosting a Polkadot meetup. In order for us to help you better, it would be appreciated if you could add a few more details of what you are thinking (specifically for this meetup). We really want to make sure we can do the best thing for teams who want to build a better community.

I've included a template and some example responses in the following

[2018-08-28 13:04] EdwardAThomson commented on #10
@vadimicus

I checked on this issue with the management team. There can be a grant in the future, prior to launch, but right now it isn't being prioritised. What would help us more right now is API documentation. On this last point, we are considering putting a GitCoin bounty in place for this task.

We have had one team reach out to us already who have a partially working example. So far, they ha

[2018-08-28 15:08] Josh0akley commented on #1
Hey Cambrial,

That would be ace. Feel free to drop me a line and we can fix a time to chat. We are provisionally booked for our next event on October 3rd. Details to be announced this week on meetup.com

My email is: joshua@web3.foundation

[2018-08-28 16:42] Cambrial commented on #18
Hey Edward,

That sounds great! Cambrial is definitely interested in taking the lead on that. I will get back to you in a few days with more information about what we envision for the event :) If that sounds interesting then we can set-up a quick call to go over it and move forward with the organization!

[2018-08-28 17:58] tucsonblockchain commented on #26
Mr. Thomas,
Thank you for getting back to me. And also for your ability to sponsor the
pizza!
https://www.meetup.com/Tucson-Blockchain-Developers
Our next meetup is in 2 days. Destry, who runs it is a doctorate in Astro
Physics, yet is Genesis Engineer at Unchained Capital
https://www.unchained-capital.com/
Unchained Capital is the sponsor of the Tucson Blockchain Developers
Meetup  and (Destry) t

[2018-08-29 02:52] tucsonblockchain commented on #26
I spoke to Destry from the meetup and he's a bit busy this week as far as
prepping the slides, for sponsoring in 2 days, but he said if I introduced
him to Polkadot, could sponsor the next event (every 2 weeks so in about 16
days approx). Do you have an email? Or should I send him to the Polkadot
Watercooler for introduction?

Brent

On Tue, Aug 28, 2018 at 10:57 AM brent woods <tucsonblockchain@g

[2018-08-29 08:19] EdwardAThomson commented on #18
Hey @Cambrial

Sounds good. We can cover Paris and London in a call sometime soon. Looks like you have an interest in being involved in both / either. My colleague Josh also just replied in the London thread too. Feel free to reach out to him (or both of us, my email address is similar to his ;-) ).

[2018-08-29 08:49] EdwardAThomson commented on #12
@gcsfred2 The applications will be open for a while. At the moment there is a hope to have a couple more implementations, so the application process will remain open for quite a while.

[2018-08-29 08:58] EdwardAThomson commented on #26
I just responded to you on Riot. We can chat there.

[2018-08-29 13:09] EdwardAThomson opened #34 "Documentation: Polkadot UI"
Documentation: Polkadot UI

Create documentation for Polkadot APIs used by the Polkadot-js UI!

**Description**
There is a clear need for better documentation around the Polkadot platform. One area that would be a good first place to start is around the APIs for the Polkadot user interface, and in particular how this pertains to enabling integration with wallet products.

In addition to documentat

[2018-08-30 05:32] jplatts12 opened #35 "Videos explaining Polkadot"
Polkadot needs more videos! These can be short webcam explainer videos or creative animations of how certain components and features of the protocol works. Have fun with this!

[2018-08-30 09:29] EdwardAThomson commented on #27
Venue booked and date chosen.

**Venue**: ETH Zürich
**Date**: Wednesday 26th September
**Time**: 6pm - 10pm (this is how long we have the room for)

Speakers and exact topics to be confirmed.

[2018-08-30 09:36] ptsankov commented on #27
Small correction: the room is available from 6PM - 9 PM. Catering / drinks can be hosted outside the room or at Polyterasse.

[2018-09-06 07:49] EdwardAThomson commented on #27
The first of these events is now scheduled:

https://www.meetup.com/Polkadot-Zurich/events/254410078

**Polkadot Zürich**

Date: Wednesday 26th September
Time: 18:00 - 21:00

Venue:
ETH Zürich
Haupt Gebaude,
Room 1.2, Floor D.
Rämistrasse 101
8092 Zürich

[2018-09-06 15:09] jplatts12 commented on #34
This issue is now up for bounty with Gitcoin!

This is a cooperative bounty, and we will reward up to 3 quality submissions with Ether.

[2018-09-06 18:12] emielvanderhoek commented on #8
Many intermediate updates have been made on Twitter:

- Style/Branding: https://twitter.com/polkascan/status/1037706833241227265
- (G)UI: https://twitter.com/polkascan/status/1037715325146550278
- Daily Quiz on the data:

1. - Q8: https://twitter.com/polkascan/status/1037676638413250560
2. - Q7: https://twitter.com/polkascan/status/1037321435415568384
3. - Q6: https://twitter.com/polkascan/status/

[2018-09-07 10:58] EdwardAThomson commented on #1
The second meetup for Polkadot London has been announced:

## Fabric, Fern, Finality Gadgets & Substrate
Web3 Foundation welcomes you to the second edition of Polkadot - London!

We are excited to be be back in town and are bringing with us some core members of the Polkadot team as well as some prominent local guest speakers.

**Date**: Wednesday, October 3, 2018
**Time**: 6:30 PM t\o 9:00 PM
**Ve

[2018-09-07 11:00] EdwardAThomson commented on #6
The first meetup of Polkadot Netherlands has been announced:

## Polkadot, Substrate & Web3
The inaugural Polkadot Netherlands meetup is a joint initiative by Web3 Foundation and #ETHDEVNL (http://ethereum.nl). This meetup will be hosted by our very kind friends at [Blocklab] in Rotterdam (right next to Rotterdam Central Station). We hope to see you all on Tuesday October 2nd (17:30 - 22:30).

Thi

[2018-09-10 10:41] Josh0akley commented on #22
@aj07 thanks for reaching out. I have added you as a co-organiser for 'Polkadot - Bangalore' group. Feel free to get in touch when you're making plans for the next meetup, we'd be only to happy to help!

[2018-09-10 10:55] kggp1995 commented on #22
This should be nice!!

We are coming to the 6:30 event at Berlin Blockchain Week! It’d be nice to
talk more on this with the team there.

On Mon, 10 Sep 2018 at 12:41 PM, Josh0akley <notifications@github.com>
wrote:

[2018-09-11 13:47] emielvanderhoek commented on #8
Twitter thread with screen designs for the Polkadot Explorer 'Polkascan': https://twitter.com/polkascan/status/1039501738842226689

[2018-09-11 13:51] emielvanderhoek commented on #8
![___landing](https://user-images.githubusercontent.com/14069142/45364359-3b77b900-b5da-11e8-9819-93d7b578d9d0.jpeg)
![0 00-home](https://user-images.githubusercontent.com/14069142/45364371-43cff400-b5da-11e8-8fc3-cf64e97a4b29.png)
![1 00-activity_home](https://user-images.githubusercontent.com/14069142/45364375-47637b00-b5da-11e8-880f-12580af2d189.png)
![1 01-activity_block_overview](https://user

[2018-09-13 13:04] jplatts12 commented on #34
Make sure to add your work to the Gitcoin bounty! @palanisn

[2018-09-16 15:26] ChainSafe commented on #12
Hello, our team was in Berlin during blockchain week and had an incredible time getting to know people from the Parity team. We showed interest in writing an implementation of the PRE in Go. I will be filling out the application over the next few days. Thank you!

[2018-09-18 13:53] EdwardAThomson commented on #12
Hey ChainSafe team, that's great to hear! I see you have an email address on your profile. I will drop an email to say hello. Go is one of our preferred languages, so your application is of interest. We are starting to get quite a bit of interest now in writing alternative implementations.

[2018-09-19 13:31] anjj123 commented on #12
Keen to be involved in core development of Polkadot. Form submitted! :)

[2018-09-20 12:09] emielvanderhoek commented on #8
A first (static but browsable) version of the Polkascan Explorer is available at https://polkascan.io  Go check it out and let us know what you think!!

https://twitter.com/polkascan/status/1042745927600099328

[2018-09-21 06:06] mnugumanova commented on #8
Great start/progress @emielvanderhoek

[2018-09-24 08:30] adriamb commented on #17
Hi @EdwardAThomson I'm the organizer of the Barcelona Ethereum Developers Meetup (https://www.meetup.com/ethereumbcn), and I would love organizing a workshop on parity's tech. It's a meetup for developers, so the idea is to understand how to develop over existing technologies, more than just "set up a node". Since you're using rust, I think that could be usefull to do a workshop about rust just be

[2018-09-25 10:08] Ferdinandreyes opened #36 "Meetup in Barcelona"
I am Ferran, from Caelum Labs, a Barcelona-based company designing and developing Blockchain solutions.
In parallel with that, we dynamize the blockchain community organizing [Devcentralised meetup](https://www.meetup.com/es/Devcentralised-Developing-DApps-Barcelona/), with almost 600 members at this moment.

We would like to host one Polkadot Meetup in Barcelona, focused on the technology and for

[2018-09-25 12:57] EdwardAThomson commented on #17
Hi @adriamb That's great to hear! I think there is interest in doing a technical deep dive as you describe. Someone in Western Switzerland just asked us about something very similar. At the moment we probably don't have a workshop ready to roll out but I think we as are getting more requests for this then it is something we should start to build out.

Let me chat on this with my colleagues and see

[2018-09-25 13:03] EdwardAThomson commented on #36
Hey Ferran (@Ferdinandreyes) Great to hear from you! This sounds like a very strong meetup group and would be great to present Polkadot to them. We actually just heard from some in Barcelona community and I'd like to point you towards the current open issue for Barcelona:

https://github.com/w3f/Web3-collaboration/issues/17

It is easier if we can all collaborate in that one! Thank you.

I would a

[2018-09-25 13:03] #36 closed

[2018-09-25 13:05] EdwardAThomson commented on #17
The following comment was posted by @Ferdinandreyes in the issue referenced above (#36).

"
I am Ferran, from Caelum Labs, a Barcelona-based company designing and developing Blockchain solutions.
In parallel with that, we dynamize the blockchain community organizing Devcentralised meetup, with almost 600 members at this moment.

We would like to host one Polkadot Meetup in Barcelona, focused on th

[2018-09-26 03:47] ltfschoen commented on #34
@palanisn The README file at https://github.com/polkadot-js/api/tree/master/docs/api-provider just contains description and usage, the rest is now in sub-folders. It is published here https://github.com/polkadot-js/api/tree/master/docs/api-provider

[2018-09-27 13:45] emielvanderhoek commented on #9
@EdwardAThomson please explain what sets a 'node explorer' apart from a 'block explorer'. I find that I am having difficult making a hard distinctions and explain this to ppl. It may be a spectrum and a bit blurred... Appreciate the input!!

[2018-09-27 14:42] EdwardAThomson commented on #9
Something along the lines of https://www.ethernodes.org/network/1

Client types, client versions, locations and any other info. This will require some fancier node crawling to figure out whats going on.

A node explorer is looking at the network, while block explorers are looking at the data stored within the blocks of the chain itself.

[2018-09-29 11:11] ghuun opened #37 "Meetup - Polkadot - HangZhou, China"
My name is jiangpeng He who is the organizer from [Crypto Geek](http://www.mimajike.com/), a blockchain technology enthusiasts community. Our community was set up by engineers from Alibaba and other famous blockchain companies. We hosted hundreds meetups for the blockchain enthusiast in china, at present, we have more than **2,000 engineers&investors** members and **80,000 blockchain enthusiast me

[2018-10-01 07:38] yuelipeng commented on #37
Welcome community developers in Hangzhou to come

[2018-10-01 13:14] EdwardAThomson commented on #37
Great! That was a perfectly written post. Perhaps the best of any we've had so far in this repository. :-)

We are able to provide presentation material as a minimum, for example, we have some presentation material online already although we can also alternatives. See the material at the end of the following document: [Meetups](https://github.com/w3f/Web3-collaboration/blob/master/meetups.md)

Mos

[2018-10-02 20:20] hstm opened #38 "Meetup - Polkadot - Karlsruhe, Germany"
**What is the plan:** To organize a Polkadot meetup in Karlsruhe, Germany. The first meeting is scheduled for early November 2018.
**How many people:** The first meeting as well as the associated Meetup group [Polkadot - Karlsruhe](https://www.meetup.com/Polkadot-Karlsruhe/) will be organized by me. A co-organizer would be welcome.
**Do you need help from W3F:** A team member to do a presentation

[2018-10-03 03:07] bertstachios opened #39 "Meetup - Polkadot - Melbourne, Australia"
I'd like to plan a monthly Polkadot meetup in Melbourne, Australia. Target date for the first one will be mid November 2018.

Topics will revolve around education, high level technical overviews, how to set up a validator node to participate in the test net etc.

I'm a noob learning rust so I can contribute to the project and eventually build parachains on Polkadot. One of my goals is to create a

[2018-10-03 09:47] palanisn commented on #34
Good work @chevdor! Sorry about the delay in responding, was away on vaca.

[2018-10-03 17:05] jleni commented on #14
Looking forward to hearing more about this :)

[2018-10-04 08:36] EdwardAThomson commented on #34
We still have the bounty open for a couple more submissions! @palanisn

[2018-10-04 09:00] EdwardAThomson commented on #39
Hey @bertstachios, it's great to hear from you. It sounds like you have a solid plan for Melbourne too. We are happy to support the best we can. There is some presentation material available, plus I'm looking to add another presentation soon (videos of that coming soon!). See the current material at the end of the following document: [Meetups](https://github.com/w3f/Web3-collaboration/blob/master/

[2018-10-04 10:30] EdwardAThomson opened #40 "Conference - Web3 Summit"
**Web3 Summit** is organized around a single rallying call: to facilitate a fully functional and user-friendly decentralized web.

https://web3summit.com/
(**Tickets must be purchased from the website**)

We invite devs and researchers working on lower level protocols and others interested in the latest developments in the decentralised web to join us in Berlin for an immersive and collaborative g

[2018-10-04 10:35] bertstachios commented on #39
Hey @EdwardAThomson, cheers for the reply. Lets lock in a time to do a hangout and get the first Melbourne meetup underway! Aeron potentially coming down in November is perfect timing - so if he's cool to do it and the stars align - lets schedule it in.

How many people do you need at a meetup to make it worth your while to come down? I'm really excited so I'll make sure we get the numbers to just

[2018-10-04 12:12] paulpounendis commented on #20
@EdwardAThomson Me and a few other people in Adelaide who are deep the industry are looking at running a big Blockchain conference in March/April, alongside a hackathon. Inline with you mentioning a more larger scope for an International tour for Polkadot, I think this type of tour is something that will be most worthwhile for you all.

[2018-10-05 12:38] EdwardAThomson commented on #35
Current videos:

* Gavin Wood presents on [Polkadot at Ethereum London (June 2017)](https://www.youtube.com/watch?v=lIghiCmHz0U)
* Gavin Wood presents [Parity Substrate at EventHorizon18 (Berlin)](https://www.youtube.com/watch?v=iUMZyL5kTwc)
  * The slides: https://slides.com/paritytech/paritysubstrate#/
* Gavin Wood presents [Substrate and Polkadot Governance at EdCon (Toronto)](https://www.youtu

[2018-10-05 12:45] EdwardAThomson commented on #12
Adding a list of relevant videos and blogs.

**Videos**:
* Gavin Wood presents on [Polkadot at Ethereum London (June 2017)](https://www.youtube.com/watch?v=lIghiCmHz0U)
* Gavin Wood presents [Parity Substrate at EventHorizon18 (Berlin)](https://www.youtube.com/watch?v=iUMZyL5kTwc)
  * The slides: https://slides.com/paritytech/paritysubstrate#/
* Gavin Wood presents [Substrate and Polkadot Governan

[2018-10-05 12:48] EdwardAThomson commented on #12
Thanks for all of the interest so far. We have received a number of application forms, but the application process is still open in case any teams are wondering and were thinking of submitting a proposal. We are hoping to select 2 or 3 teams to develop alternative implementations, but we haven't selected anyone yet!

[2018-10-05 13:40] EdwardAThomson commented on #39
Since Aeron is travelling down there anyway there isn't a huge pressure for a massive audience. I believe he has already booked his travel. My colleague @Josh0akley will be coordinating with you and the community down there to try and get a meetup constructed.

In the future, we'd try to optimise visiting Australia with other countries on that side of the world I think. That way there is a less pr

[2018-10-06 06:47] trustfarm-dev opened #41 "Meetup - Polkadot - Korea"
Dear all,

Here's great support and promote polkadot in Korea.

I'm very pleased with Polkadot and Web3 . if I choosed with participates for tour by Polkadot community.

If You need Korea local meetup and organization branch, I'll do my best.
Great Tour until end of 2018.

[2018-10-08 09:18] EdwardAThomson commented on #41
Hey Trustfarm, many thanks for your continued interested. I appreciate you opening an issue here too. Just an FYI, we do have an issue for Seoul already, but I'm happy to have a separate issue if that helps people to coordinate in other areas of Korea. :-)

See here: https://github.com/w3f/Web3-collaboration/issues/4

There is a meetup.com group for Seoul already too: https://www.meetup.com/Polkad

[2018-10-08 09:28] EdwardAThomson commented on #12
A further update on this topic. Many of you have been asking about timescales and the amount of effort involved.

I had a quick chat with Jaco, a dev in Parity. He is the one who created the implementation in JavaScript. Hopefully this gives you a better idea. He worked pretty much solo too!

**How long would you expect a dev / team of devs to create an implementation of Substrate?**

"Difficult t

[2018-10-08 11:51] trustfarm-dev commented on #41
I think they have many polkadot Meetup allocated.
So I wondering they are not official consensus with polkadot.

[2018-10-08 12:07] EdwardAThomson commented on #41
The official meetup groups can be found at the following link: https://www.meetup.com/pro/polkadot/

[2018-10-08 12:17] trustfarm-dev commented on #41
Above Meetup link is officially maintained by web3 and polkadot foundation?
It is clearly confirmed then I will cancel the Meetup organization in Korea.

[2018-10-08 12:46] EdwardAThomson commented on #41
We do still need help with local people in Korea. The closer we can work with local people the better the outcome of the events. We really need the local knowledge to find the best venues and help to connect with the right groups to make the event successful. :-)

So there is definitely help needed for Korea.

[2018-10-08 13:12] EdwardAThomson commented on #40
Free tickets to be won!

Web3 Foundation are working with @diekryptohelden to give away 3 tickets, but you gotta be quick as the first raffle ends soon!

http://kryptohelden.de/giveaway/web3-summit-in-berlin/

[2018-10-08 15:08] trustfarm-dev commented on #41
@EdwardAThomson  I'm sorry, If you concern above official meetup organizer, Not Me.

[2018-10-08 15:08] #41 closed

[2018-10-09 01:59] ghuun commented on #37
I am so sorry I might haven’t reply on time, since it’s national day in China from 01-07/Oct. Thanks for your reply and encouragement!! we indeed take this meet-up very seriously. there have some questions that I need to confirm with you:
1. You replied last time that you could probably provide a speak? who will be the recommended speaker from Polkadot? he will participate in what ways? Will he co

[2018-10-09 02:06] ghuun commented on #37
At the same time, we believe that this meet-up is the start of our cooperation in the future. As for Polkadot's next year ‘s China trip plan, we hope that we can get the opportunity to help Polkadot to host meet-ups in China.

[2018-10-09 07:43] vlad-kahoun opened #42 "Development: Extensions for Polkadot wallets"
**What is the plan:**
I am working on Extensible messages that extend DApps and wallets with additional features. Now I want to integrate extensible messages with wallets in Polkadot ecosystem.

Extensible messages are delivered to a DApp through decentralized microservice infrastructure. DApp can send an in-app message or data structure to a microservice and get in return the message extended wit

[2018-10-10 20:52] EdwardAThomson commented on #37
Hi @ghuun

Many thanks for the continued interested! Apologies for my delayed response, currently on vacation for a couple of days.

I just messaged you on Riot. Apologies for the delay in responding here.

We will likely provide a couple of people from  the combined W3F and Parity teams. They will visit China and will come with presentations, or with material for a workshop. It would depend on wh

[2018-10-12 15:44] Yuvasee commented on #12
Hello, just filled out the form for C++ implementation.

[2018-10-15 10:59] EdwardAThomson commented on #40
*Important Announcement*

To demonstrate our commitment to an open, inclusive community, the W3F has offered to fund ticket reductions for attendees at the inaugural Web3 Summit.

Attend #Web3Summit for a reduced price:

https://medium.com/web3foundation/endowing-an-open-inclusive-community-at-web3-summit-3013456f4f84

[2018-10-15 19:59] EdwardAThomson commented on #12
Received! Thank you! @Yuvasee

The application process is still open. We will take a few more applications before making any decisions.

Did you know about our W3S conference? There are now reduced price and free tickets available:

https://medium.com/web3foundation/endowing-an-open-inclusive-community-at-web3-summit-3013456f4f84

[2018-10-16 09:32] emielvanderhoek commented on #8
Update:

Polkascan (https://polkascan.io) now supports multiple chains. We currently show allow exploration of the following chains:

1. Polkadot (poc-2): https://polkascan.io/n-poc2/poc-2/ (This is the relay chain)
2. BBQ-Birch (master) Parachain Candidate: https://polkascan.io/n-pre/bbqbirch/ (This is a WASM smart contract platform)

Please note that these links may break at any time due to upgr

[2018-10-17 15:51] EdwardAThomson commented on #12
Hi everyone, we've had some questions about the development process and we thought it would be good to share the answers with everyone.

## 1. Understanding the motivation for an alternative implementation
* To what extend is the present implementation a reference?

  * There is a specification is in a draft state. Hope to share it soon.
  * The current implementation is like a reference spec, but

[2018-10-17 18:11] aj07 commented on #34
@EdwardAThomson is bounty still open? If yes, I would send PR :)

[2018-10-19 08:48] EdwardAThomson opened #43 "Create and run a node cluster service for Polkadot"
We would like someone to create and run a scalable RPC service for Polkadot. This would be a service that is elastic and can scale with the number of requests.

Features:
* Super stable RPC end point.
* Distribute requests appropriately.
* Spin up new resources as need.

We'd this service to work with the existing testnets (and to continue to work with testnets in the future). Eventually the servi

[2018-10-19 09:14] vlad-kahoun commented on #42
Adding a few articles about extensibility, interoperability of wallets and a note on discoverability of services...

Extensibility: We can deliver decentralized features to wallets instead of developing them internally: https://medium.com/unframework/features-delivery-network-example-30786b833b4b

Interoperability: Decentralized features can translate various message standards and types between ea

[2018-10-19 11:14] adrianbrink commented on #28
closed in favour of #11

[2018-10-19 11:14] #28 closed

[2018-10-19 20:49] ltfschoen commented on #19
I'm from Sydney, I'll be back there at some stage, happy to help!

[2018-10-19 20:56] ltfschoen commented on #10
* Polkadot JavaScript API Documentation - https://polkadot.js.org/api
* Polkadot JavaScript Common Documentation - https://polkadot.js.org/common/

[2018-10-19 21:42] EdwardAThomson commented on #19
Hey Luke @ltfschoen, if you were able to present something at a Sydney meetup that would be great! I know Aeron is heading to Australia soon and is hopefully presenting in Melbourne mid-November, I fear he may not be able to make it to Sydney this time. However, it would be great to get someone there in 2019.

[2018-10-21 12:34] blokaly opened #44 "Meetup - Polkadot - Hong Kong, Hong Kong S.A.R."
Hi, my friend and I would like to organise and co-host the Polkadot meetup in Hong Kong. I'm working at a FinTech startup involved in the crypto trading and investment business. We are R3 partner and member of HyperLedger. Personally I've been also actively participating the Ethereum meetups since it started and met Vitalik and Gavin several times. I haven't organised any meetup yet but my friend

[2018-10-22 20:44] EdwardAThomson commented on #37
The first event has been organised and announced. See details here: http://www.huodongxing.com/event/9461774172100

Thanks for organising!

[2018-10-23 11:48] EdwardAThomson commented on #44
Hey @blokaly that would be great! Hopefully we are able to get some of our speakers to China to attend one of your meetups. It should be possible in 2019. Keep an eye out for more details.

I would suggest that you join the Watercooler chat channel if you haven't already. There is where the main source of activity is happening:  https://riot.im/app/#/room/#polkadot-watercooler:matrix.org

[2018-10-24 03:00] blokaly commented on #44
Thanks @EdwardAThomson
Have joined the Watercooler channel and will chat you over there...

[2018-10-25 04:18] bertstachios commented on #39
Meetup locked in for 15th November @ 6pm @ RMIT University

https://www.meetup.com/Polkadot-Melbourne/events/255816139/

[2018-10-25 12:48] Mikerah opened #45 "Meetup - Polkadot - Toronto, Canada"
Hi,

I run the University of Toronto Blockchain Group, a student club at the University of Toronto. We would love to start collaborating with the Web3 Foundation for events in Toronto.

A little about me:
I am a sharding implementer involved in the Biweekly Eth2.0 talks and I work at a Toronto company called ChainSafe Systems. The founder, Aidan Hyman, is friends with Afri from Parity Technologies

[2018-10-27 02:47] pkrasam commented on #39
@bertstachios @EdwardAThomson @Josh0akley @anjj123 @paulpounendis

Thanks for organizing this meetup. I have been experimenting with Polkadot and Substrate for a little while now. I am currently running a few nodes to support BBQ Birch network.

I live between Geelong and Torquay and would love to organize a meetup here and also help you gents in growing our local Polkadot/Substrate community, dev

[2018-11-01 07:58] EdwardAThomson commented on #45
Hi @Mikerah , sincere apologies for the slow reply. The past 2 weeks have been busy with W3S and now DevCon. I met with both Aidan and Elizabeth though and had some great conversation with them about possible future directions (in tech). Having meetups in Canada would be great too.

Are you in our Riot chat channel?

https://riot.im/app/#/room/#polkadot-watercooler:matrix.org

[2018-11-01 13:03] Mikerah commented on #45
@EdwardAThomson I just joined. Let's move the conversation there.

[2018-11-04 16:26] jazken opened #46 "Meetup - Polkadot - Singapore"
Hi, I am Kenneth, currently a blockchain enthusiast in Singapore. Currently, my team and I run a community meetup and workshop with Blockstack. We have been hosting meetups in partnerships with various other local communities (e.g. Ethereum Singapore, Singapore University of Social Sciences etc.) this year serving thousands of members.

What is the plan:
To organize a Polkadot meetup in December/J

[2018-11-05 09:19] ansonla3 commented on #44
hey @blokaly , I am also from Hong Kong, and would love to co-host / build Polkadot meetup community in Hong Kong, do you have any contact methods ?

[2018-11-06 03:13] blokaly commented on #44
@ansonla3 please join https://www.meetup.com/Polkadot-Hong-Kong/ and we can connect from there.
Thanks.

[2018-11-06 10:39] EdwardAThomson commented on #11
### Blockchains using Substrate Today
* [Polkadot](https://github.com/paritytech/polkadot) - Polkadot Relaychain implementation.
* [Shasper](https://github.com/paritytech/shasper) - Ethereum 2.0 beacon chain implementation.
* [ChainX](https://github.com/chainx-org/ChainX) - cross-chain digital asset management platform.
* [Edgeware](http://edgewa.re/) - incentivised testnet for active governance.

[2018-11-06 10:55] EdwardAThomson commented on #46
Hi @jazken. Great to hear from you. Anything you can organise yourself is welcomed. We might be able to send team members next year, but hard to commit to something before year's end.

Are you in our Riot chat channel?

https://riot.im/app/#/room/#polkadot-watercooler:matrix.org

[2018-11-06 13:29] ngerald51 commented on #46
Hi Edward, 'Im with @jazken and im in the riot channel.

Maybe we can arrange something tentative beginning of next year? also do you have any plans to drop by asia some time soon? Thanks

[2018-11-06 14:02] EdwardAThomson commented on #46
There are plans in the works for some of our team to be in Beijing and Korea in a few weeks. Still waiting on confirmation. They are travelling for conferences and may do some meetups since they are already there. Don't think there is slack in their schedule to travel elsewhere though.

[2018-11-06 14:36] hstm commented on #38
Update: I'm going to step down as organizer of the Meetup group Polkadot Karlsruhe due to time constraints. Since there is no co-organizer that could continue the group, the group has been closed.
I recommend to all interested people to join the [Karlsruhe Blockchain Meetup group](https://www.meetup.com/Karlsruhe-Blockchain-Meetup/)  alternatively.

[2018-11-06 14:36] #38 closed

[2018-11-08 04:01] mehranhydary commented on #45
Hey all! Can I get in on this too :)

[2018-11-13 15:20] mradkov opened #47 "Meetup - Polkadot - Sofia, Bulgaria"
My name is Milen and I'm the founder of [hack - Blockchain Development and Consulting](https://hack.bg), a Bulgarian based blockchain development agency. We provide development of decentralized applications, smart contracts, security audits and consultations. We are mainly working with Ethereum, but we have experience and projects over Hyperledger and other blockchain/ DLT infrastructure as well.

[2018-11-18 19:45] EdwardAThomson commented on #47
Hey @mradkov thanks for the note of interest.

We can most likely get someone to come and visit Sofia. It sounds like you have a solid community there. As you have hopefully seen from other cities, we've already started to send people from W3F / Parity to present on Substrate and Polkadot. These talks have been mostly at a a high level. This is great for helping us spread the word, but we know tha

[2018-11-19 11:55] mradkov commented on #47
Thank you @EdwardAThomson !

Let's keep in touch and make the best out of it. I'm also in your riot channel.

[2018-11-21 14:59] radkaag opened #48 "Meetup - Polkadot - Bratislava, Slovakia"
My name is Radka and I’m member of [Progressbar](https://cowork.progressbar.sk/#/) :house: 👨‍💻 - the first Slovak hackerspace, coworking and hangout zone in downtown Bratislava. As a non-profit that cares about technology, we are trying to incentivize tech communities, by allowing them to use the venue for their events.

- **What is the plan:** To organize the second meetup at the beginning of Jan

[2018-11-22 14:15] EdwardAThomson commented on #48
Hey Radka, thanks for showing interest! It was great to meet you and the other folks from Slovakia at the last meetup.

As a general, we can probably help with a lot of the above. Some of the current considerations:

Internally, we are figuring out how many meetups we'd like to make in Q1 next year and how much budget we think we can assign to it. We will try to send people when we can, although w

[2018-11-23 14:54] EdwardAThomson commented on #27
Potentially going to organise something for Zug in January. More details to follow.

[2018-11-28 13:46] radkaag commented on #48
Hello Edward! Apologies for my delayed response,  I've seen your email but couldn't respond earlier due to being fully absorbed by work. However, I suggest to proceed further, which means to agree on the following speaker, exact day of the event (either workshop or lecture) if possible.

We came across the unofficial list of possible speaker you've sent us, and we would firstly aim at your Technol

[2018-11-28 20:38] Josh0akley commented on #48
Are you guys good to reply to these community requests for meetup support?
We can also jump on a call to help create a process for how we handle these
if that would be helpful.

On Wed, 28 Nov 2018 at 08:46, Radka Gettová <notifications@github.com>
wrote:

--

Jack Platts

*Web3 Foundation*

Reiffergässli 4, 6300 Zug, Schweiz
<https://maps.google.com/?q=Reifferg%C3%A4ssli+4,+6300+Zug,+Schweiz&entr

[2018-11-30 10:11] EdwardAThomson commented on #48
Hey @radkaag , let me email you!

[2018-12-05 13:41] EdwardAThomson commented on #9
This issue is a candidate for our grants program. For details on how to apply, see your grants page: https://grants.web3.foundation

[2018-12-05 13:41] EdwardAThomson commented on #11
This issue is a candidate for our grants program. For details on how to apply, see your grants page: https://grants.web3.foundation

[2018-12-05 13:47] EdwardAThomson commented on #43
This issue is a candidate for our grants program. For details on how to apply, see your grants page: https://grants.web3.foundation

[2018-12-05 13:48] EdwardAThomson commented on #14
This issue is a candidate for our grants program. For details on how to apply, see your grants page: https://grants.web3.foundation

[2018-12-06 01:39] dpnova commented on #19
I met Aeron in Sydney (I was mentoring at the blockathon).

We're super excited about polkadot and keen to help.

We run a meetup on the Gold Coast, which I expect to be too small to qualify for anything from the foundation, but perhaps there's ways we can be involved or help support meetups in the other major cities.

Cheers!

[2018-12-07 12:39] EdwardAThomson commented on #19
Hey @dpnova ! Thanks for the interest.

There is always a chance that we can visit Sydney at some point. Hard to commit to anything right now, but I suspect there will be an opportunity this year.

The organiser for Melbourne (Terry, @bertstachios) is hoping to have more regular events and do promotion of all things Web3 in Australia. Whether we at W3F can do something to help support that is stil

[2018-12-10 02:34] bertstachios commented on #19
Hi @dpnova, I'm excited to hear your keen to hold Polkadot meetups!

I am based in Melbourne, but i'll help out any way I can and keep you in the loop for future Web3 / polkadot meetups that we're planning. Reach out to me on telegram, my username is @bertstachios and we can chat some more.

[2018-12-10 08:07] mnaamani commented on #12
We have an interest in supporting this effort by doing a minimal port of the implementation of Parity codec, and any other rust modules with the idea to support writing a runtime in Go. So not a full alternative implementation.

This task of course will be taken on by the team selected to do the full Go implementation. So I was looking to see if there is possibility of collaboration or if no work

[2018-12-12 11:15] EdwardAThomson commented on #24
Going to suggested pushing this towards Riot or to our forum:

https://forum.web3.foundation/

[2018-12-12 11:15] #24 closed

[2018-12-12 11:21] EdwardAThomson commented on #25
Will also recommend moving this to Riot or the new forum: https://forum.web3.foundation

[2018-12-12 11:21] #25 closed

[2018-12-12 11:22] #13 closed

[2018-12-12 11:38] #40 closed

[2018-12-14 19:12] SCBuergel opened #53 "minor issue in PR form"
While filling in the form of the PR I found some minor issues:

1. The PR form is stating `- [x] The application is being included into the correct directory: either '[programmes](https://github.com/w3f/Web3-collaboration/grants//tree/master/grants/programmes)' or '[speculative](https://github.com/w3f/Web3-collaboration/tree/master/grants/speculative)'.` The former link is dead and should probably

[2018-12-18 15:54] EdwardAThomson commented on #53
Thanks!

  1. Was a reworded along the way. Will update this soon!
  1. Thanks! Perhaps the wording here could be better!

:-)

[2018-12-18 16:07] EdwardAThomson commented on #43
Hey @jpzk

This issue is available for grant funding: i.e. for an external team to build something. We aren't planning to build this internally.

If you would like to apply for money to help build this then you can follow the link above and read about how to make a gran application. This has proven our most popular topic by far! (quite a few inquiries came in privately). So far, no money has been

[2018-12-18 16:09] #53 closed

[2018-12-19 14:41] jplatts12 commented on #44
@blokaly and @ansonla3 have you guys made any progress in hosting the first Polkadot HK meetup? We won't be able to send a speaker until April, but we could video chat in to answer questions, do an online AMA, or provide funding / resources for you guys to organize your first event! Reach out to jack@web3.foundation if this sounds interesting.

[2018-12-19 14:41] jplatts12 commented on #45
Polkadot Toronto v1 was a success! https://www.meetup.com/Polkadot-Toronto/events/256671683/

[2018-12-19 14:44] jplatts12 commented on #39
Polkadot Melbourne was a success! This is an amazing example of a purely community led meetup. Thank you to all who contributed @bertstachios @paulpounendis @pkrasam @anjij123

View the members and videos here: https://www.meetup.com/Polkadot-Melbourne/

[2018-12-19 14:47] jplatts12 commented on #2
Next Polkadot meetups in Berlin will be around Aracon end of January 2019

[2018-12-19 14:48] jplatts12 commented on #4
Polkadot Seoul went well for the first community launch.

Videos are being posted here: https://www.youtube.com/channel/UClnw_bcNg4CAzF772qEtq4g

English: https://www.meetup.com/Polkadot-Seoul/events/254945314/
Korean: https://www.meetup.com/KryptoSeoul-Meetup-in-Seoul/events/256171745/

[2018-12-19 14:49] jplatts12 commented on #1
Polkadot London v3 was a success: Check out the videos here: https://www.meetup.com/Polkadot-London/events/254945879/

[2018-12-19 15:04] ansonla3 commented on #44
hey @jplatts12 , actually there was a polkadot meetup in 12/8 that was hosted by Ethereum Hong Kong, which gavin has come to Hong Kong to give an overview of polkadot.
And @blokaly and I will have a short conversation how we collaborate very soon.

[2018-12-19 23:30] pkrasam opened #57 "Link is not working: 404 error"
https://github.com/w3f/Web3-collaboration/blob/master/.github/PULL_REQUEST_TEMPLATE/grant_application.md

[2018-12-20 00:14] EdwardAThomson commented on #57
Thanks!

Yeah. That's the wrong link. For some reason I must have included the wrong link in the grants.md page. I honestly thought I only had working links on that page.

However, I've fixed this issue now!

The pull request template is here:  https://github.com/w3f/Web3-collaboration/blob/master/.github/PULL_REQUEST_TEMPLATE.md

The application template is here: https://github.com/w3f/Web3-colla

[2018-12-20 00:14] #57 closed

[2018-12-20 01:59] blokaly commented on #44
Thanks @jplatts12 @ansonla3 yep we had one already and will do one in the new year as I mentioned to Gavin during the meetup. Will reach out later for more tech resources. Have a wonderful holiday season!

[2019-01-05 14:49] jiangfuyao opened #59 "Mobile wallet for Polkadot. - Polkawallet"
Short intro: My name is Fuyao Jiang,  my name in Riot community is 0xthreebody. Early Polkadot community members, continuous attention from the inception of the project. I am the Chinese translator of polkadot wikipedia. One of the polkadot Chinese community groups,  and participated in each version of the PoC test network. My company, [wanqirong](http://wqrchina.com), is developing a supply chain

[2019-01-05 17:30] EdwardAThomson commented on #59
This is excellent. Great job guys! I retweeted your [Twitter](https://twitter.com/polkawallet/status/1081466873286279168) thread already. 😃

As I mentioned in the watercooler, I'd love to see support for the desktop (especially as I'm thinking about managing money offline). If you were also able to integrate the functionality from Parity Signer that would be awesome. Their use of QR codes is nice

[2019-01-07 04:06] jiangfuyao commented on #59
OK, The polkawallet will be full open sourcs.

[2019-01-07 08:19] jiangfuyao commented on #59
Important progress: Today, @jacogr with me solved the polkadot js api for React Native!! It used to be a hand prick problem. Too many pit...
There have the show demo: query blockHead, Account Balance, and Transfer & get the transfer hash.
![_ _20190107161840](https://user-images.githubusercontent.com/34789555/50756709-fc135d80-1297-11e9-9b61-7f86421e42e2.png)

[2019-01-08 12:38] #34 closed

[2019-01-08 12:56] EdwardAThomson opened #60 "Build simple Substrate runtime modules with a tutorial"
We need more tutorials that help developers get acquainted to building for Polkadot. In this bounty we desire the creation of a tutorial that leads fellow community members through the necessary steps of creating a [Substrate](https://substrate.readme.io/) runtime module.

**Example project 1**:
Create a simple module that hashes a piece of data and stores it on chain (please include a timestamp).

[2019-01-08 13:33] EdwardAThomson opened #61 "Write a blog post about Polkadot"
The Polkadot community is growing and new people joining the ecosystem need high quality and engaging content about Polkadot. We would like to find community members to write an article or guide to help the community to learn more about the Polkadot project and how to get involved.

While deeply technical blogs are appreciated, it is also possible to write about the future possibilities enabled by

[2019-01-08 14:03] EdwardAThomson commented on #61
**Request for blog:**  What does a world look like where everything runs on Polkadot?

We'd like to see more articles written selling the vision of banks, consortiums, public chains all connected together in a flurry of economic activity. A successful blog will capture the vision of the world running on Polkadot. Whether that's private consortium or bank chains, decentralized energy networks, Inte

[2019-01-08 14:38] EdwardAThomson opened #62 "Create Videos and Animations explaining Polkadot"
We need more videos and animations to help explain Polkadot. In this bounty we desire the creation of videos / animations that explain some of the key issues in Polkadot.

These are our current areas of interest:
1. Shared vs traditional security  ([Image](https://discourse-cdn-sjc2.com/standard11/uploads/web3/original/1X/b39be65579b79370c413b70c664de12cea7e556b.png))
1. Use cases for polkadot int

[2019-01-08 14:43] EdwardAThomson opened #63 "Request for blog: What does a world look like where everything runs on Polkadot?"
We'd like to see more articles written selling the vision of banks, consortiums, public chains all connected together in a flurry of economic activity. A successful blog will capture the vision of the world running on Polkadot. Whether that's private consortium or bank chains, decentralized energy networks, Internet of things applications. All of these applications and protocols can interoperate i

[2019-01-13 09:12] jiangfuyao commented on #59
The validator server manager is also valuable.
- Do the validator work directly through the polkawallet or the browser;
- One-Click Setup polkadot or other parachain node;
- One-Click updata node version;
- Security components;
- The server running status;
- The Node running status;
- Process watch & hacking-watchdog;
- Support parachain collector;
- Humanized management;
- The guard mechanism;
-

[2019-01-14 14:19] #35 closed

[2019-01-15 18:59] Ryan-Gordon commented on #61
Hey @EdwardAThomson just applied for this issue.
Just wanted to confirm if the post will be put onto medium and can I use this to develop the post.

[2019-01-16 10:33] EdwardAThomson commented on #60
Just as an FYI for all bounty hunters: the total pot of funds is 900 Dai, but we are looking for 3 submissions. That means that each individual submission is eligible for 300 Dai.

Keep this in mind while applying! Thanks and good luck!

[2019-01-16 11:02] EdwardAThomson commented on #61
Just as an FYI for all bounty hunters: the **total** pot of funds is 300 Dai, but we are looking for 2 submissions. That means that each *individual* submission is eligible for 1500 Dai.

More money can be added to the pot for further submissions in the future.

Keep this in mind while applying! Thanks and good luck!

@Ryan-Gordon

Hey Ryan. We hope it can be put on to medium, but no guarantee at

[2019-01-16 16:54] dapperAuteur commented on #61
this link is broken in the bounty:
https://gitcoin.co/issue/w3f/Web3-collaboration/61/medium.com/polkadot-network

[2019-01-16 17:04] EdwardAThomson commented on #61
Ack! I was missing "https" in the markdown. Lol. Fixed it now. Thank you! @dapperAuteur

[2019-01-23 07:30] ghuun commented on #62
@EdwardAThomson @gitcoinbot This is a link to video
  https://pan.baidu.com/s/1cvxMcczXOD7RsALdqROojQ

[2019-01-24 13:45] EdwardAThomson commented on #62
Hey @flynnstone9 - thanks for showing interest. I've yet to take a look at your videos but a colleague did take a quick look and he said he liked them. We can do either animations or live action. Both can work for different reasons, and I think we are fairly open to either possibility.

**Re: Bounties**: We will pick 2 submissions that we think are worth of the bounty.

That said, we are looking t

[2019-01-24 21:15] flynnstone9 commented on #62
Awesome, thanks @EdwardAThomson for sharing them. Yeah, connormflynn@gmail.com is perfect. Love to talk to you guys about your requirements and what you are looking to achieve with the videos.

[2019-01-25 10:04] pbteja1998 commented on #60
@EdwardAThomson Is this issue still open? I want to work on this. I don't know much about Substrate run time modules or polkadot, but I think I can figure it out. I think I can write the tutorial better as I will also be trying to figure out how to create the module myself, and the tutorial is targeted for the first timers like me.

Tell me if it is available to work on. Also should the three exam

[2019-01-25 12:48] EdwardAThomson commented on #62
Hey Connor, I finally had a watch of your videos. Those are well done! I'd encourage you to try the bounties. They wouldn't be as long as the ones you've linked to. For other videos in the future, I need to sync up with the team first.

[2019-01-25 12:56] EdwardAThomson commented on #62
Hey @ghuun any chance you can get this videos hosted somewhere, like YouTube? I'd prefer to stream the videos than download. You can make videos private but still have a shareable link with YouTube, probably true of other platforms too!

[2019-01-25 13:42] EdwardAThomson commented on #60
Hey @pbteja1998 this bounty is definitely still open! Thanks for reaching out and good luck with your submission.

[2019-01-25 13:50] pbteja1998 commented on #60
@EdwardAThomson
Where can I contact you if I need any clarifications, is there some slack or gitter channel that I can join?

Also Should I make tutorials for all the three example projects listed or just any one of them?

[2019-01-25 14:37] EdwardAThomson commented on #60
Any one of them is fine. We just wanted to provide some example ideas.

I recently joined the Gitcoin Slack but I barely visit. We do prefer to use Riot at W3F. I can also ping you an email, I see the address in your profile.

Polkadot Riot channel: https://riot.im/app/#/room/#polkadot-watercooler:matrix.org
My Riot handle: @edwardt:matrix.org

[2019-01-25 14:43] pbteja1998 commented on #60
@EdwardAThomson thanks. I just joined the riot channel.

[2019-01-25 21:23] burrrata commented on #60
This is awesome!

I'm currently exploring building web2/web3 data bridges to enable on-chain voting mechanisms. If I got this to work on Substrate, explained how to replicate it, and created a way for people to get involved to improve the architectures/protocols would that count for the bounty?

Also, does the Polkadot testnet pool security/validator actors yet, because that might change design de

[2019-01-26 23:32] lazaridiscom commented on #63
Maybe you should add a zero or two to the bounty, and ask for a science-fiction short-story.

[2019-01-28 18:14] sypha999 commented on #62
@EdwardAThomson is there a specific length you need for the video, could I start work right away?

[2019-01-28 22:04] EdwardAThomson commented on #62
Yep, you can start straight away. There is no specific length, but we do want one of our three topics to be clearly explained! @sypha999

[2019-01-28 22:10] EdwardAThomson commented on #63
Hey @lazaridiscom ! Not a bad idea! Although $15000 for a short story is a bit beyond our bounties budget. Ideally, the tasks are short and sweet, although I do like the idea you propose. From my own understanding, no writer would get 15k for a short story published in a magazine though (I'm thinking something like Azimov's).

I'm open to you pitching an idea and I will (in sincerity) see what the

[2019-01-31 05:58] lazaridiscom commented on #63
(Just some random neurons fired when seeing this issue here...)

See "House of Cards", where an author is contracted to write about the president. This needs most possibly even a 3rd zero, and its more something for Parity Technologies marketing budget.

Because the result would be "science fiction", the (real-life) hostiles could not say "look at those delusional dreamers".

A classic end would b

[2019-01-31 06:37] OlyaGreen commented on #63
Hey @EdwardAThomson

I've got a piece ready. How do I submit please?
Thanks!

Olya Green
Writer | Blockchain | Post-Industrial
Read on: https://www.technomads.wtf/

[2019-01-31 06:48] lazaridiscom commented on #63
@OlyaGreen , the usual process on gitcoin is:

* Go to the issue: https://gitcoin.co/issue/w3f/Web3-collaboration/63/2169
* Press "Submit Work" and provide a link.

For the case you do not want to make your work public yet, i guess(!) the process would be :

* Press "Submit Work"
* add a note that you send the material in via email or so

[2019-01-31 07:12] OlyaGreen commented on #63
Just did. Let me know, if that works out well okay?

Thanks!

Olya Green
Writer | Blockchain | Post-Industrial
Read on: https://www.technomads.wtf/

[2019-02-01 09:40] lazaridiscom commented on #63
@EdwardAThomson , can any (possibly shy) writer use "hello . web3 . foundation" email to send a result in?

[2019-02-01 11:02] EdwardAThomson commented on #63
Yep, that would also work!

[2019-02-01 14:54] EdwardAThomson commented on #61
Hey @emmaodia we have reviewed your blog and have some edits we'd like you to make. Once the changes are made and approved then we can pay you the bounty!

Do you have an email address we can contact you on?

[2019-02-01 16:11] emmaodia commented on #61
odia.emma@gmail.com

[2019-02-05 01:17] mornjtech commented on #62
@EdwardAThomson please take a look at the submitted work:
https://youtu.be/vDxvakBjsNg

[2019-02-05 08:54] charlie4biz commented on #63
Hi guys. kindly take a look at my submitted work. Open for corrections.

Regards

[2019-02-05 09:37] EdwardAThomson commented on #63
@charlie4biz

Thanks! Hopefully we'll get a quicker turn around on the review here.

[2019-02-05 10:05] EdwardAThomson commented on #62
Hey @mornjtech It says video unavailable. Can you double check privacy settings?

[2019-02-05 16:31] serejandmyself commented on #61
Hey. I have completed my article. Here is the Medium link to it:

https://medium.com/@serejandmyself/polkadot-for-the-very-dummies-an-introduction-c75db434d4db

[2019-02-05 17:08] mornjtech commented on #62
@EdwardAThomson Look at it again i've changed the settings

[2019-02-05 21:20] burrrata commented on #11
Daonut Protocol grant submitted! 🍩
- https://github.com/w3f/Web3-collaboration/pull/70

[2019-02-07 10:17] serejandmyself commented on #61
@EdwardAThomson

Was I suppose to check this in gitcoin? I got approved there already, so thought I was just meant to drop the actual file here. Was I?

Thanks

[2019-02-08 13:22] EdwardAThomson commented on #61
Hey @serejandmyself , apologies for the slow reply here. We have received your article and are now putting it through our review process. We'll try to finish it as fast as we can and let you know if you can win the bounty! Thanks for writing it!

[2019-02-11 13:55] mornjtech commented on #62
@EdwardAThomson @gitcoinbot have you seen it?
https://youtu.be/vDxvakBjsNg

[2019-02-11 15:18] charlie4biz commented on #63
Hi @EdwardAThomson still awaiting review.

[2019-02-12 18:25] burrrata opened #73 "Request for Substrate Macros Tutorial"
Substrate is a beautiful piece of art. It truly is a game changing project that will make blockchain development fun, fast, and modular. The thing is, the extensive use of macros and traits make it hard to read for people who are not deeply steeped in Rust. I feel like a tutorial that explained the Rust side of Substrate (macros, traits, etc...) would help more people go from being Substrate curio

[2019-02-13 01:53] mornjtech commented on #62
@EdwardAThomson @gitcoinbot have you seen it?
https://youtu.be/vDxvakBjsNg

[2019-02-15 13:40] EdwardAThomson commented on #63
Hey @charlie4biz It is still being worked on. Apologies for the delay. Almost done.

[2019-02-18 21:01] burrrata opened #74 "Request for Substrate/Polkadot Rust Bootcamp"
Tezos has a really cool looking bootcamp, that's free, and accessible to anyone with a computer and internet connection. It's pinned very nicely to the top of their really cool subreddit:
- https://www.reddit.com/r/tezos/
- https://medium.com/tezoscommons/announcing-tezos-capstone-2d5631b99a2

Is Web3 planning on doing anything similar? Because that would be cool... really really cool. It would al

[2019-02-19 02:21] jrmoreau commented on #74
Are you referring to [](https://tomi.institute/)?

[2019-02-19 10:26] burrrata commented on #74
@jrmoreau Added a link to the description of the Tezos bootcamp. Does that help explain what I'm referring to?

[2019-02-21 16:45] sypha999 commented on #62
how do I submit a work? @EdwardAThomson

[2019-02-26 15:22] lsaether commented on #60
Hi! I just completed a module for a Bonded Token, also known as `Bonding Curve Token` or `Bonded Fungible Token` taking inspiration from this [EIP](https://github.com/ethereum/EIPs/issues/1671) for a smart contract.

What I did for this is to implement the runtime module for an ERC20 token that can be bought and sold continuously for a price which is a function of the total supply. Code is availab

[2019-02-27 11:36] EdwardAThomson commented on #60
Hey @lsaether , thanks for showing interest. That sounds like an impressive effort, so this would be eligible for a bounty!

I'd like to have someone check over it before awarding any funding. We would check that the code works and that the tutorial is clear enough. I've asked someone on our side to take a look and verify it for me. :-)

For high quality tutorials, I believe it should be possible

[2019-02-27 13:49] EdwardAThomson commented on #62
Hey @mornjtech I sent this to my colleagues to review. They have a better idea of what we want from videos. Let me chase them and get back to you.

Hey @sypha999

You can submit work on Gitcoin. You can create an account there via your GitHub account (if you haven't already). You can upload the video to YouTube (or another streaming site) then paste the link into your submission.

[2019-02-27 14:27] EdwardAThomson commented on #62
**Update**: after speaking with my colleagues, I have been told that we will be taking a different approach to animation.

Submissions should be withdrawn as we will close this bounty and pursue another avenue of funding animations.

Apologies for the inconvenience this creates and many thanks for your understanding.

[2019-02-28 16:54] adnantium opened #82 "Meetup - Polkadot - Philadelphia, USA"
The [Philadephia Ethereum meetup](https://www.meetup.com/Philadelphia-Ethereum-Meetup/events/258251527/) recently arranged a session on the PolkaDot Whitepaper that got positive feedback and interest from the group. This is a great opportunity to build on that to create a larger community focussed on PolkaDot & Substrate.

* **Plan**: Meetup group for PolkaDot (and related Substrate etc.) in Phila

[2019-03-05 14:45] lazaridiscom opened #84 "Grants Document"
I visited

https://github.com/w3f/Web3-collaboration/blob/master/grants/grants.md

and got a little bit overwhelmed by the information and process.

## Problem A

It would help to split the document into two:

* web3 Foundation OSS Grants
* web3 Foundation Event Sponsorship

## Problem B

The described process shreds nearly immediately my motivation (i did not even manage to read through). My esti

[2019-03-06 11:28] EdwardAThomson commented on #84
Thanks for the feedback. There will be a cut down version of the process on the new version of website. The page evolves as the needs of the foundation and the community change. Events could be reasonably split from software, that has been discussed at length internally.

The grants page needs to cover many aspects in order to ensure quality applications. Some points of information that missed in

[2019-03-06 11:28] #84 closed

[2019-03-06 11:33] EdwardAThomson commented on #82
Hey @adnantium that sounds great!

Have you checked out our meetup page? It has a lot of useful material (incl presentations): https://github.com/w3f/Web3-collaboration/blob/master/meetups.md

Helping to get the word out is fairly easy: e.g. r/dot and twitter.

A good first step is to chat with my colleague Rory about our ambassador program. That is something we are still putting together but we a

[2019-03-06 12:04] lazaridiscom commented on #84
See, I wrote this to avoid seeing justifications which cannot justify the unjustifiable.

Fix this (public visible, now) mess. It takes an estimated 30 min.

Yeah, yeah. And I'm a frog!

[2019-03-06 12:48] theroryshow commented on #82
@adnantium First off thanks for reaching out.
I always recommend keeping it simple with your first meetup. What Polkadot is, who the team is, what problem are they trying to solve, how is their approach unique, and the latest news and developments. That should give you a good 15-20 minute presentation and leave plenty of time for questions, which can be directly relayed to myself or the team to fo

[2019-03-07 16:11] #62 closed

[2019-03-10 15:24] SotaWatanabe commented on #5
Hey @EdwardAThomson,
Nice to see you. I am glad that I could find this issue. My name is Sota Watanabe, a founder of Staked Technologies Japan. Currently, we are making blockchains by using Substrate.

I have organized the first meetup you mentioned above and we have the 2nd meetup this month.
- Substrate Workshop #1 (https://neutrino.connpass.com/event/121572/）

I am planning to have a Substrate/

[2019-03-13 09:12] EdwardAThomson commented on #5
Hey @SotaWatanabe

Thanks for reaching out. I know John has reached out to you privately, but I just wanted to say add my own 'welcome' message.

Obviously, we are thrilled that you will be holding monthly meetups. It is great to see these community initiatives. As always, feel free to share your meetup links in r/dot (our official sub) or even r/polkadot_market (fan sub).

Cheers!

[2019-03-13 09:58] SotaWatanabe commented on #5
@EdwardAThomson Thank you for your support. I am happy to contribute to the community. Let me know if there is anything I can help^^

[2019-03-14 14:26] #60 closed

[2019-03-14 14:26] #61 closed

[2019-03-19 13:05] liangping commented on #37
i will join you next time

[2019-03-20 03:05] bobjiang opened #92 "Meetup - Polkadot - Beijing, China"
## introduction
I am Bob Jiang, and run a blockchain technical community in China now. [HiBlock](http://hiblock.one) focuses on meetup/workshop/hackathon, and have 6k members now.

## What is the plan:
We are planning to have polkadot meetup in Beijing by the end of May. And if possible, once per month to introduce technical view from polkadot.

## Number of people on your team:
There are 5 core m

[2019-03-20 09:15] ansonla3 commented on #92
@bobjiang do you have wechat ? we can have a chat see whether how we can help you ? ;)

[2019-03-20 09:19] EdwardAThomson commented on #92
Hi @bobjiang ! Welcome!

We have presentation material here: [Link](https://github.com/w3f/Web3-collaboration/blob/master/meetups.md#presentation-material). You are free to use that!

We will be sending team members to China this year but I don't recall if we have any exact dates yet. We do also now have a team member based Hong Kong who will be reaching out soon! @ansonla3

Naturally, we'd also r

[2019-03-20 09:27] bobjiang commented on #92
I know the founder of Polkawallet and ChainX, thanks for your reply.

Hi @ansonla3 I added you by wechat in wechat group.

[2019-03-20 09:29] jiangfuyao commented on #92
@bobjiang We should form a WeChat group to talk about this.

[2019-03-20 09:44] ansonla3 commented on #92
@jiangfuyao @bobjiang good, let's move there

[2019-03-26 15:43] Web3Foundation commented on #82
@adnantium we'd love to help support your meetup in Philadelphia and glad to help on the mentioned ideas and would be excited to jump on a call with you about it!

Please reach out to me at chris@web3.foundation so we can take a few minutes to chat about it.

[2019-04-23 14:38] Web3Foundation opened #103 "Build a Runtime Module using Substrate"
Substrate is a framework for building blockchain logic through composition of runtime modules. The Substrate Runtime Module Library already includes useful modules for basic functionality such as assets (tokens), balances, staking, and more. Members of the community have been extending the functionality of Substrate-built chains through their own modules, such as NFTs (substratekitties), or TCRs.

[2019-04-23 14:47] Web3Foundation opened #104 "Create a Smart Contract Example with Tutorial using Ink"
[Parity Ink](https://github.com/paritytech/ink) is a smart contract tool which allows for WebAssembly based smart contracts to be written in the Rust programming language.

Create an example smart contract with documentation and a tutorial detailing how you made it. In the tutorial it would be helpful if you compared some of the syntax and methods to what developers may already be familiar with in

[2019-04-24 16:07] Web3Foundation commented on #104
@rossbulat you've been approved, this same bounty will be available multiple times over the next while.

@hskang9 @kankan-0 if you want to work on this and submit a proper contribution, we will honor this in a separate issue with the same body!

[2019-04-24 16:10] Web3Foundation opened #105 "Create a Smart Contract Example with Tutorial using Ink #2"
Parity Ink is a smart contract tool which allows for WebAssembly based smart contracts to be written in the Rust programming language.

Create an example smart contract with documentation and a tutorial detailing how you made it. In the tutorial it would be helpful if you compared some of the syntax and methods to what developers may already be familiar with in other smart contract languages. Depl

[2019-04-28 01:48] rossbulat commented on #104
Yes - at work.

[2019-04-28 05:06] rossbulat commented on #104
I have familiarised myself with the current documentation available - completed the Flipper tutorial and structure of smart contract, Ink! wiki, and read the examples in the various abstraction levels.

I would like to create a bare-bones erc721 contract on the "lang" level, that stores intangible tokens, and write the walkthrough outlining the concepts involved:

* storing token IDs and mapping t

[2019-04-29 01:58] xlc commented on #103
Update: We are aiming to release it on mid May. The code is ready, documentations still need more work.

[2019-04-30 05:27] rossbulat commented on #104
Is it possible to store arrays or vectors in hashmaps? I'd like to use an u64 -> Vec<AccountId> hashmap to store approvals for a particular token ID.

Need some sort of linking from a token_id to a mutable list of accounts to get an approvals record working.

*Posted in ink! Riot chat and awaiting feedback.

[2019-05-02 13:33] rossbulat commented on #104
Part 1 of tutorial published at: https://medium.com/block-journal/introducing-substrate-smart-contracts-with-ink-d486289e2b59

Github repo of contract: https://github.com/rossbulat/ink-nft

I have reached out in the Ink Riot chat for feedback on the work so far.

[2019-05-04 23:38] hskang9 commented on #105
I have made korean translation on how to install substrate and connect. The repo is private for now, asking speckle team to discuss opening to public.

[2019-05-05 00:09] hskang9 commented on #105
github link is now in https://github.com/speckleos/Ethcon-korea, check progress.

[2019-05-05 10:29] xlc commented on #103
We are still aiming to release it on mid May.

[2019-05-06 16:50] rossbulat commented on #104
Part 2 published at https://medium.com/block-journal/writing-a-substrate-smart-contract-with-ink-1f178849f931

[2019-05-08 15:21] rossbulat commented on #104
Preparing Post 3 detailing deployment process and Polkadot JS usage:

* Added an `is_approved` function for approval test assertions. It is also a public function available to be called
* Uploaded the latest contract on a Substrate dev chain, functions appear to be working

There is an issue attempting to add `u64` values to `Balance` values. This was giving failures when making calls on the block

[2019-05-09 12:30] rossbulat commented on #104
Final part now published (and distributed in Blockchain and Javascript categories) on Medium:
https://medium.com/block-journal/deploying-an-ink-smart-contract-to-a-substrate-chain-f52a2a36efec

[2019-05-10 20:30] taggartbg opened #107 "Meetup - Polkadot - Atlanta, GA, USA"
After running the React meetup in Atlanta since July 2015, I have passed the torch and am looking to start a Polkadot meetup hosted at the same meetup space / code school, General Assembly.  I have a commitment from them to support the meetup alongside the support of blockchain venture studio, [Thesis](https://thesis.co).

What is the plan:
- **Number of people on your team:**
  - 3
- **Do you nee

[2019-05-10 20:51] burdges commented on #107
Just fyi, I'm from Atlanta so I pass through a couple times per year.  I'll turn up at one if possible.

[2019-05-11 10:40] xlc commented on #103
The status is the same as we are still aiming to release it on mid May.

[2019-05-14 00:03] siman opened #108 "Meetup - Substrate - Kyiv, Ukraine"
![image](https://user-images.githubusercontent.com/153928/57658928-35166280-75e9-11e9-800c-d436ebc7bb02.png)

Hi, my name is Alex Siman and recently I [attended the Sub0](https://www.youtube.com/watch?v=hsskPkKeqPc)  conference in Berlin. There I talked with Jack and Peter from Web3 Foundation and we discussed the opportunity to hold Substrate workshop in Ukraine.

## What is the plan

We are plan

[2019-05-20 14:23] ljg583 commented on #17
Hello! If this thread is still active, please email me at Lindsay@web3.foundation as we would love to support and help grow the Barcelona community!!

[2019-05-20 15:18] ljg583 commented on #108
Hi Alex,

Thank you for providing such detailed information on your upcoming events.  We would love to support you and your growing community.  Please reach out to me at Lindsay@web3.foundation so we may discuss details and get some merchandise to your first event.

[2019-05-20 15:33] siman commented on #108
Hi @ljg583, just sent you a letter to Lindsay@web3.foundation

[2019-05-20 15:55] adriamb commented on #17
Hi @ljg583 , yes, it is still active.

[2019-05-22 06:25] prastut commented on #43
@EdwardAThomson would you be able to update this thread on developments on this issue?

[2019-05-22 18:09] hskang9 commented on #105
I am still working on this issue. Right now, I am working on building substrate quickstart tutorial to start off substrate development in both local and cloud environment.

[2019-05-23 06:37] ansonla3 opened #109 "Meetup - Polkadot - Shenzhen, China"
Hi, I am Anson based in HK, (@toxotguo) one of the team members from Chainx & me would like to organize polkadot meetup together to push Polkadot adoption in China.

## What is the plan
the first meetup would be between 8 and 15 June (the exact date is not confirmed yet).

## How many people:
50-70 Would be a good start.

## Do you need help from the community
Help with promotion would be great, p

[2019-05-24 15:30] Web3Foundation commented on #105
thanks for the update @hskang9 !

[2019-05-24 15:32] Web3Foundation commented on #103
Ok @xlc please update as soon as you have a chance! :)

[2019-05-24 22:17] xlc commented on #103
The code will be available next Monday. and we will provide some tutorials of how to use it next week.

[2019-05-27 05:01] xlc commented on #103
It is open sourced: https://github.com/cennznet/cennznet/blob/master/prml/generic-asset/src/lib.rs
The rustdoc already contains usage and documentations. We can write an article about it maybe next week.

[2019-06-02 19:53] hskang9 commented on #105
So I have made a ppt and presented it on ethcon korea. now I am creating medium post to present to Polkadot Korea group for new developers who are interested in substrate

[2019-06-03 06:36] johntrainor commented on #108
Hi Alex,

Hope you’re well!

I’m working on getting some t-shirts sent to the Substrate workshop, but we’re facing an issue with making a payment.

By any chance do you have Privat24? I’m wondering if you may be able to cover the payment, and the Web3 Foundation will reimburse you for the expenses. The total is 10576 UAH.

Please let me know if this is possible! If so, you can send the invoice to:

[2019-06-03 06:47] siman commented on #108
Hi John,

Yes, I have Privat24 and can cover the payment.
Here is my email: aleksandr.siman@gmail.com

[2019-06-03 06:52] johntrainor commented on #108
Thank you!

[2019-06-06 07:08] aj07 commented on #105
Is that bounty still open?  I want to apply for this...

[2019-06-06 22:51] xlc commented on #103
@Web3Foundation We are contributing GenericAsset module back to Substrate https://github.com/paritytech/substrate/pull/2790

[2019-06-09 15:36] hskang9 commented on #105
I am working on parity ink medium in Korean. I think you can ask for other languages as well.

[2019-06-10 07:14] aj07 commented on #105
My first article https://medium.com/@a4nkit/tictactoe-game-on-ink-substrate-chain-84ac30cc826a?postPublishedType=initial

[2019-06-10 14:33] hskang9 commented on #105
My first article https://medium.com/@hyungsukkang/parity-ink-%EB%A1%9C-substrate-%EC%8A%A4%EB%A7%88%ED%8A%B8-%EC%BB%A8%ED%8A%B8%EB%9E%99%ED%8A%B8-%EA%B5%AC%ED%98%84%ED%95%98%EA%B8%B0-c9bd1a57cc93 @Web3Foundation

[2019-06-10 16:43] siman commented on #108
Have announced the first event on several sites:
* https://www.meetup.com/Substrate-Ukraine/events/261826623/
* https://web.facebook.com/events/872251823128606/
* https://dou.ua/calendar/27351/
* https://ain.ua/event/hello-substrate/

[2019-06-11 08:45] shawntabrizi commented on #105
@aj07 and @hskang9 my suggestion if you want to want to try and earn this bounty is to provide a PR to this repo:
https://github.com/substrate-developer-hub/substrate-contracts-workshop

Medium articles that you post will quickly go out of date as we update the ink! project.

Also means be content which can be updated and maintained by the community.

[2019-06-11 08:50] shawntabrizi commented on #105
Both of you are wasting your time copy and pasting the same install instructions over and over into a "part 1" of your guide.

[2019-06-11 08:56] shawntabrizi commented on #103
Looks awesome @xlc and @Web3Foundation 👌

[2019-06-11 20:48] #104 closed

[2019-06-11 20:49] Web3Foundation opened #122 "Create a sentry node configuration for Polkadot validators with guide"
Sentry nodes are one way to protect validators from a DOS attack by not exposing them directly to the internet. Sentry nodes are full nodes which connect to other validators and the peer-to-peer network and insulate the validator. The validator node (the one with the signing keys) is kept isolated from the rest of the gossip network and is only connected to the sentry node(s).

This task is to cre

[2019-06-11 20:55] Web3Foundation opened #123 "Create a re-usable Substrate IPFS runtime module"
The goal of this task is to create a Substrate runtime module that will be used for integrating any Substrate runtime with IPFS as the storage component.
The runtime module should contain utility functions and types for interacting with the IPFS multi-hash standard. It should be reusable and provide a nice interface similar to the already existing [Balances](https://github.com/paritytech/substrate

[2019-06-11 21:44] brenzi commented on #123
For clarification: You don't want to verify any content against these hashes and you don't want to retrieve anything from an ipfs client.
If so, why not just store IPFS hashes as a `Vec<u8>`?

It is not clear to me what exactly you'd like to do that needs actual multi-hash representation. Should a substrate-worker be able to retrieve contents from IPFS and verify content against the multi-hash?

[2019-06-12 07:59] lsaether commented on #123
Hey @brenzi you're right that multihash verification would be an important part of this module. The substrate-worker use case is an excellent example of how this module would be used and I think that this module should be compatible with that but not dependent on it. It should be general enough for users of the module to create their own logic around fetching the content and hash and being able to

[2019-06-12 09:09] agutsal commented on #122
@Web3Foundation applied on Gitcoin. Could you approve?

[2019-06-12 16:44] Web3Foundation commented on #122
Hey @agutsal gitcoin is down at the moment once services resume will review!

[2019-06-14 04:30] Web3Foundation commented on #122
@agutsal you've been approved to start work.

[2019-06-15 19:30] siman commented on #108
Here is a screencast from Substrate Ukraine Meetup #1 (in Russian)
https://youtu.be/cvgadAHzFww

[2019-06-21 13:38] Web3Foundation commented on #105
@hskang9 please feel free to continue with this bounty. Once you have the second part and the code + additional documentation our team will review!

[2019-06-24 07:55] agutsal commented on #122
@gitcoinbot alive, will update soon

[2019-06-24 16:23] Web3Foundation commented on #122
@agutsal great look forward to it! :)

[2019-06-24 16:24] Web3Foundation commented on #123
@sivo4kin look forward to the questions upon deployment. We're here to help!

[2019-06-25 16:40] agutsal commented on #122
@gitcoinbot wait abit

[2019-06-27 17:10] agutsal commented on #122
@gitcoinbot working

[2019-06-27 19:00] wimel opened #132 "Meetup - Polkadot - Seville, Spain"
Since 2015 we have an [Ethereum meetup](https://www.meetup.com/es-ES/Ethereum-Meetup-Sevilla/) doing One meetup per quarter, and recently One per month, with the arrival of PoS and several interesting projects we usually give workshops with another [meetup about PoS](https://www.meetup.com/es-ES/Proof-Of-Stake-SvQ/) where people can learn by doing things, in our group we have a [systems administra

[2019-06-28 02:06] SotaWatanabe commented on #5
Cosmos vs Polkadot
https://neutrino.connpass.com/event/132916/

Substrate Workshop 5/23
https://bdevux.connpass.com/event/130567/

Plasma and Substrate 4/17
https://neutrino.connpass.com/event/127035/

Substrate meetup 3/18
https://neutrino.connpass.com/event/121572/

[2019-06-28 02:27] SotaWatanabe commented on #5
Polkadot governance was written by @masaki
https://medium.com/unchained-tokyo/polkadot-governance-9853279f4a76

Slide decks (Governance, Sub0 Summit, Substrate, Plasm)
https://medium.com/unchained-tokyo/%E7%AC%AC2%E5%9B%9Esubstrate-polkadots%E5%8B%89%E5%BC%B7%E4%BC%9A%E9%96%8B%E5%82%AC%E3%83%AC%E3%83%9D%E3%83%BC%E3%83%88-c55c9dbcc2cc

[2019-06-30 16:18] siman commented on #108
Photo report from the first meetup (July 14, 2019, Kyiv, Ukraine):
https://medium.com/dappforce/first-substrate-polkadot-meetup-in-kyiv-ukraine-1a5330ef456a

[2019-07-01 07:59] agutsal commented on #122
@Web3Foundation I'm working on docker containers and would probably add docker-compose script running 2 instances one behind another on Alexander testnet. Is that OK?

[2019-07-01 09:24] agutsal commented on #122
@Web3Foundation tried to build using polkadot [Dockerfile](https://github.com/paritytech/polkadot/blob/master/Dockerfile).
`docker build --tag polkadot -f Dockerfile . ` command fails with:

![image](https://user-images.githubusercontent.com/1643117/60425290-e2295680-9bfa-11e9-857c-28c8ea4b5c2a.png)

[2019-07-01 10:14] lsaether commented on #122
@agutsal Are you building from the master branch or v0.4 branch? It might be better to build from `v0.4` since its more stable and will connect to Alexander testnet.

Please reach out to @logan:web3.foundation on Riot for more immediate communication.

[2019-07-01 12:52] agutsal commented on #122
Even worse on `v0.4`:
![image](https://user-images.githubusercontent.com/1643117/60437951-2119d500-9c18-11e9-94ae-cae6828ecab6.png)

@lsaether @Web3Foundation

[2019-07-01 13:43] lsaether commented on #122
[This should work](https://matrix.to/#/!fOOzymDEHiIIUtmlBE:matrix.org?via=matrix.org&via=matrix.parity.io&via=web3.foundation)

[2019-07-01 13:44] lsaether commented on #122
This looks like you are not compiling the Wasm binary before running `cargo build`, try to run the script in `scripts/build.sh` first

[2019-07-01 14:09] agutsal commented on #122
@lsaether I'm just running `docker/build.sh` yet. I assumed it works ;)

[2019-07-02 11:33] agutsal commented on #122
@lsaether @Web3Foundation seems I've fixed Dockerfile [PR #308](https://github.com/paritytech/polkadot/pull/308)

Please merge.

[2019-07-04 03:33] agutsal commented on #122
@gitcoinbot in progress

[2019-07-08 15:45] agutsal commented on #122
@gitcoinbot speadking on PR #308

[2019-07-09 17:44] agutsal commented on #122
@gitcoinbot shut up please

[2019-07-10 17:59] agutsal commented on #122
@gitcoinbot

[2019-07-10 19:03] Web3Foundation commented on #123
@sivo4kin do you still plan to try this one?

[2019-07-11 21:06] lerajk commented on #10
Hello @EdwardAThomson was wondering if you guys are still open for wallet development. Currently, our team is building out a wallet and would love to support Polkadot in any manner. E.g. supporting dot tokens!

[2019-07-12 15:14] EdwardAThomson commented on #10
Hey @lerajk we are open to receiving more applications and look at each on a case-by-case basis. We do have a lot of wallet builders already, so I wouldn't be able to give any guarantees that we will fund another wallet, but we are happy to discuss possibilities.

Perhaps you can send a brief overview of your idea to us? Send it to the grants@ email address ( web3.foundation )

[2019-07-12 15:57] lerajk commented on #10
Hello @EdwardAThomson thank you for your prompt reply, really appreciate it!

Yes I understand. Funding is not an issue for us and we will continue to develop our wallet, however we seek to contribute to the polkadot ecosystem with the best of our ability. We are also currently investigating on building a parachain through substrate which is a larger task at this point. This is an area that we wou

[2019-07-12 15:59] EdwardAThomson commented on #10
Sure! Feel free to send an email anyway. Perhaps we can start a conversation early and help to clarify any questions you might have? I can put you in touch with @jplatts12 who is helping to coordinate parachain teams in preparation for launch.

[2019-07-12 16:16] lerajk commented on #10
ok awesome! kinda embarrassing but I'm unable to figure out the format of this email address -  grants@ email address ( web3.foundation ) lol

would you mind sending an email to lee@yesbit.ca introducing @jplatts12 as well ?

Thanks!

Cheers,
 Lee

[2019-07-12 16:57] EdwardAThomson commented on #10
done!

[2019-07-16 15:42] agutsal commented on #122
@gitcoinbot just fnished discussion on recent WIP PR continue to work

[2019-07-18 23:32] Web3Foundation commented on #132
@wimel this looks great, could you also apply through https://polkadot.network/launching-worldwide-polkadot-web3-community-meetups/ so we can make sure you're taken care of in the correct fashion! :)

[2019-07-18 23:33] Web3Foundation commented on #107
@taggartbg could you please apply through this https://polkadot.network/launching-worldwide-polkadot-web3-community-meetups/ application; we'll be glad to help support you out of Atlanta.

[2019-07-19 02:47] Web3Foundation commented on #122
lol sorry i've muted @gitcoinbot for 100 days @agutsal

[2019-07-19 09:02] burdges commented on #107
I'm tentatively planning to visit Atlanta in September or October btw.

[2019-07-19 11:40] Web3Foundation commented on #107
Great! Please keep me posted as the idea develops!

Lindsay

[2019-07-20 06:27] agutsal commented on #122
@Web3Foundation thx

[2019-07-22 06:28] agutsal commented on #122
@Web3Foundation seems mute does not work ;(
@gitcoinbot yes, I'm still working on docker-compose network configuration to run one node behind another. @Web3Foundation plz, confirm that's what you expect.

[2019-08-01 06:01] agutsal commented on #122
@Web3Foundation I'm still waiting for your response on my explanation in previous comment above. Is docker-compose custom virtual network configuration what you expect to have 2 nodes running one behind another?

[2019-08-01 19:58] Web3Foundation commented on #122
Hey @agutsal sorry for the long response; @lsaether or @fgimenez could probably chime in here to the question about

"is docker-compose custom virtual network configuration what you expect to have 2 nodes running one behind another?"

[2019-08-06 13:14] agutsal commented on #122
Probably @lsaether @fgimenez are both on vacation, @Web3Foundation ? ;)

[2019-08-08 14:04] Web3Foundation commented on #122
Will ping again now, @agutsal things have just been super busy, apologies again for the wait.

[2019-08-08 14:25] laboon commented on #122
Correct, two nodes, one running  "behind" the other.  The sentry node is facing the public network (and connects to the rest of the p2p network).  The validator node is behind a firewall and can only communicate with the sentry node.

*** public network *** <---> Sentry node <-- firewall --> Validator node

https://guide.kusama.network/en/latest/try/secure-validator-setup/

Feel free to ping me if

[2019-08-08 15:37] agutsal commented on #122
@laboon once again - we're both speaking about Compose [private network](https://docs.docker.com/compose/networking/) configuration.

[2019-08-08 16:01] laboon commented on #122
Apologies, I just got pointed to this and misunderstood your question.  Federico, who I believe put this request together, is on vacation this week.

_"is docker-compose custom virtual network configuration what you expect to have 2 nodes running one behind another?""_

Using Docker Compose to make an isolated private network is certainly one way to do it and should be acceptable.  I don't know if

[2019-08-12 06:18] dfishb opened #155 "Polkadot bridges RFP - come build bridges with us!"
The Web3 Foundation is looking to attract teams interested in designing and implementing bridges!

Bridges are specialized parachains that allow communication to external blockchain networks such as Bitcoin or Ethereum, that are not secured by Polkadot’s relay chain. In order to achieve the broadest notion of interoperability, it’s crucial that bridges are constructed for as many different existin

[2019-08-12 09:04] fgimenez commented on #122
@agutsal as I see it the overlay networks created by docker-compose are not enough to isolate a validator node from the rest of the polkadot network; as soon as the validator connects to its boot nodes it will be known by the network, and if you don't put in place any additional measure other peer nodes will be able to connect to it. You can verify all this by starting the network with a docker co

[2019-08-12 17:24] SotaWatanabe commented on #155
Hello @dfishb. I am Sota Watanabe, CEO at Stake Technologies and we are making Plasm, a plasma parachain based on Substrate.
https://github.com/stakedtechnologies/Plasm

Since we are making a Plasma chain, we are very very interested in making a plasma bridge between Polkadot and X (As a first step, we are focusing on Ethereum).
https://medium.com/staked-technologies/4-reasons-why-we-need-plasma-i

[2019-08-15 18:57] dfishb opened #159 "Alternative Polkadot Runtime Generation (AssemblyScript) - RFP"
Hello!

Currently, the only way to generate a Runtime is by using Rust along with Parity-built tools.  We would like to increase the choice of languages for developers to write these Runtimes and are **providing a grant for the development of a tool to generate WebAssembly Runtimes from AssemblyScript.**

For more information and for details on how to apply, please see the following document:
[Alt

[2019-08-15 19:03] jbibla commented on #10
@EdwardAThomson we'd love to talk about adding support for Polkadot and parachain's in Lunie.io (mobile, web, browser extension).

Should we email grants@ or submit an application or both?

[2019-08-15 20:27] GregTheGreek commented on #159
Applying shortly!

[2019-08-17 15:45] EdwardAThomson commented on #10
Hey, @jbibla ! You are free to apply without telling us / asking us. If you have questions, of course, then feel free to email us in advance.

Parachains are not yet ready for prime time; however, it is definitely possible to start integrating Polkadot into your wallet. I suspect that the cryptography used by the parachains ought to be the same as the relay chain. We are working on Ledger integrat

[2019-08-17 15:51] ltfschoen commented on #10
https://github.com/polkadot-js/extension

[2019-08-18 07:42] prastut commented on #155
@dfishb my team was interested to build a bridge for ZCash but it seems you have already funded one grant application: https://github.com/LayerXcom/zero-chain.

Can you tell me what it is that you are looking for when you mention ZCash as a high priority bridge?

[2019-08-18 08:33] lsaether commented on #155
@prastut Zerochain is a standalone implementation of a privacy modules on Substrate. A bridge to ZCash would allow for sending ZEC back and forth between ZCash chain and Polkadot.

[2019-08-18 08:43] prastut commented on #155
@lsaether ahh got it.

[2019-08-23 12:38] agutsal commented on #122
@fgimenez as mentioned [here](https://github.com/paritytech/polkadot/issues/264#issuecomment-510133915) wouldn't this work:

[code]

[2019-08-23 15:08] EdwardAThomson commented on #155
If you can also figure out how to do shielded to shielded bridging then you would have solved a tough problem! Generally, bridge operators have capital at stake that's slashed for bad behaviour. Naturally, you need to know how the value of the tokens in the bridge in order to know whether there is enough capital at risk, but it seems that is tricky to do for shielded Zcash transactions.

[2019-08-26 05:49] agutsal commented on #122
@fgimenez well, I'd consider that approach after few days of silence

[2019-08-26 06:11] fgimenez commented on #122
@agutsal sure sorry for the late response, combining reserved-nodes and bootnodes is a good option. As stated in my previous comment I would also introduce listen-addr in the validator with the validator ip in the docker compose overlay network, so that you make sure that the validator only accepts connections from peers in that address space.

[2019-08-26 09:17] jimmychu0807 commented on #109
@ansonla3 let me know if you are doing more meetup in HK / SZ, and I will see how I can help.

[2019-08-26 11:13] ansonla3 commented on #109
let's keep in touch :)

[2019-08-27 05:58] agutsal commented on #122
Thanks for your reply. From what I see they use `substrate` docker image which we are not.

Basically should I follow this:
`docker run -ti parity/polkadot:v0.4.4 --chain=alex --alice` <== run sentry
it produce something like this where I should check for `Discovered external node address`
![image](https://user-images.githubusercontent.com/1643117/63744599-78e75c00-c8a8-11e9-8432-2097e739f091.png)

[2019-08-28 04:58] fgimenez commented on #122
As i see it you should not use any externel discovered address, instead if you should use a multiaddr that includes the ip of the public node on the docker compose overlay network. Not sure if you can know it before the docker compose network is launched.

I only mentioned bootnodes because they appeared in the example you l8nked, you only need them if you are going to create a local network. If y

[2019-08-28 09:39] agutsal commented on #122
@fgimenez as per requirenment validator node *should* connect to sentry node. I need to know how to do that. That's it.

[2019-08-28 09:42] fgimenez commented on #122
Yes, this is done by setting `--reserved-nodes` in the validator with multiaddr of the public nodes (one reserved-nodes per public node). It should be better to use here the private address of the public node for the multiaddr, does that make sense?

[2019-08-28 09:50] agutsal commented on #122
@fgimenez ;) could be, just don't know the format of `--reserved-nodes` paramenter specifying the multiaddr. Would be thankful for sample.

[2019-08-28 09:58] fgimenez commented on #122
sure, something like this `/ip4/<private_ip>/tcp/30333/p2p/<peer_id>`

You should set the private ip as the one assigned to the public node in the docker compose overlay network. The peer id is randomly assigned on boot if you don't specify a node key with `--node-key`. This node key should be a 64 hex char string, you can try starting a node locally by setting a known node-key and then checking w

[2019-08-28 14:21] agutsal commented on #122
@fgimenez I"m currently thinking how to make this 2 step process in a single `docker-compose.yml` file. Tell me - `<your_node_key>` could be randomly generated as some UUID?

[2019-08-28 15:25] fgimenez commented on #122
You can use one of the libp2p libraries for generating the peer id and associated keypair, for instance https://github.com/libp2p/js-peer-id node-key is the private key, with 256 bits of length.

[2019-08-29 09:47] agutsal commented on #122
@fgimenez plz, review my [WIP PR](https://github.com/paritytech/polkadot/pull/410)

[2019-08-30 07:51] fgimenez commented on #122
Sure will take a look next week :+1:

[2019-09-02 09:41] brenzi commented on #155
We just re-supplied our speculative PR #140 as a targeted one for this RFP. Looking forward to feedback.

[2019-09-02 09:57] agutsal commented on #122
@fgimenez some update been pushed to my [WIP RP](https://github.com/paritytech/polkadot/pull/410)
Please, let me know after review.

[2019-09-02 12:43] fgimenez commented on #122
@agutsal looks good, it's pretty similar to https://github.com/paritytech/substrate/blob/master/scripts/sentry-node/docker-compose.yml, right? What's the benefit of adding it to polkadot's repo?

[2019-09-02 12:54] agutsal commented on #122
Well, it's actually based on `sentry-node/docker-compose.yml` but has significant differences: we can pass these environment variables to control both containers:

[code]

[2019-09-03 12:29] dfishb commented on #155
Hi everyone - we will be closing this round of applications and starting to make initial decisions on funding as of September 13th.

We will still be accepting applications after this date, but the scope of projects we fund will depend on decisions made in the first round.

[2019-09-04 12:27] agutsal commented on #122
@Web3Foundation Thanks for your payment. However, I think I also have to fix docs in scope of current project. Current repository does not contain docs, should I clone https://github.com/w3f/polkadot-wiki and fix them there?

[2019-09-04 16:40] Web3Foundation commented on #103
@xlc is this still in progress?

[2019-09-04 16:44] soc1c commented on #155
#111

[2019-09-07 16:54] Web3Foundation commented on #122
@agutsal sure; there was a bit of a repeated effort as @fgimenez had created a tool that maybe more successfully solves this problem. We paid out because of your repeated efforts in the ecosystem and the ongoing respective time you've taken in past bounties & this one.

Feel free to amend documentation and leave any comments for review.

[2019-09-08 15:57] gcsfred commented on #155
If any team needs a general collaborator for specific tasks, I'm interested in helping out. Especially with developing a bridge to ZCash and QA.

[2019-09-10 10:25] domob1812 commented on #155
We (@xaya) are interested in building a Bitcoin bridge.  We've already been in discussion with you guys anyway, but posting here for others to see can't hurt.  We are finalising our extended proposal document at the moment.

[2019-09-11 13:00] usetech-llc commented on #155
Hi guys! EOS bridge proposal coming your way from us!

[2019-09-11 16:48] 2075 commented on #14
Hi there @EdwardAThomson , are there any developments regarding this or is it still in its infancy?

[2019-09-13 13:41] ccdex-top commented on #155
We are building a cross-chain bridge for Polkadot.  The algorithm based on MPC that can support distributed generation of EDDSA/ED25519 signature. @gcsfred

[2019-09-13 14:18] krzysztof-jelski commented on #155
Just submitted an implementation-only proposal. We'd be happy to pair with some specification team!

[2019-09-14 00:26] musnit commented on #155
Just submitted a proposal too!

[2019-09-20 05:48] dfishb opened #179 "Call for Proposals - Solidity to Ink! Converter"
### Proposal
Web3 Grants is looking to fund the development of a Solidity to [Ink! ](https://substrate.dev/docs/en/ecosystem/contracts/ink) conversion tool and is issuing a call for grant proposals for this work. Please apply through the normal process outlined [here](https://grants.web3.foundation/).

### Motivation
If a blockchain solution built on Ethereum needs to be migrated or rebuilt on Sub

[2019-09-20 15:39] #179 closed

[2019-09-20 15:55] #105 closed

[2019-09-20 15:57] shawntabrizi commented on #103
@Web3Foundation I believe this bounty is completed as it has been successfully merged into the Substrate code base.

[2019-09-20 16:00] jplatts12 commented on #179
How come you closed this already?

JBP

[2019-09-21 02:36] xlc commented on #103
Yes it is completed.

[2019-09-24 05:30] fanyang1988 commented on #155
#180 A bridge to EOS and chain based on EOSIO

[2019-09-24 15:48] Web3Foundation commented on #103
Great; @xlc if you submit work on here i'll be able to payout.

[2019-09-24 15:50] Web3Foundation commented on #105
@dfishb why was this closed? @hskang9 you are continuing the work on this or what's the latest again?

[2019-09-24 15:51] Web3Foundation commented on #132
Following up via alternative routes; @wimel is an ambassador and working on this.

[2019-09-24 18:45] hskang9 commented on #105
Well recently, I am finding a combination in which I can work on the smart contract. It is good to see the updates here, but updating at break-neck speed is really a challenge. To provide real tutorial, I really wanted to show working demo, and I thought I could solve the errors on the way, but it turns out I can't 🤦‍♂️... I think I should ask for solutions while I am getting an error for now.

[2019-09-24 18:47] Web3Foundation commented on #105
Ok; so should consider it still a WIP for you? Its understandable on the timing, so just wanted to see if you're still considering finishing what you started when you can execute on it.

[2019-09-24 18:54] hskang9 commented on #105
Yes, I feel guilty every time when I see this...but it is on the way...as my heart says I should finish this with real demo. It looks cool to show the solution right away, but this is a long fight for me.

[2019-09-24 19:12] hskang9 commented on #105
So the first error I got is when I uploaded the contract, the screen stops after adding the code in substrate development chain. I received event `putCode`, and after that the polkadot.js apps stops like this screen below:
![](https://i.imgur.com/blbMczi.png)

The chapter I found error is [deploying-your-contract](https://www.shawntabrizi.com/substrate-contracts-workshop/#/0/deploying-your-contrac

[2019-09-25 01:57] shawntabrizi commented on #105
@Web3Foundation and @hskang9
It does not make sense to continue this bounty with ink! at the moment.

ink! is undergoing huge changes at the moment that will fundamentally change all the syntax.

There are also a number of constantly moving development items that break UIs and end to end scenarios. We have a single tutorial right now that the ink! team personally maintains:
https://github.com/subs

[2019-09-25 04:13] wilfred-centrality commented on #103
@Web3Foundation, @xlc is no longer employed by Centrality (the developers of this module). How should we proceed?

[2019-09-25 18:08] Web3Foundation commented on #105
@hskang9 with the update that @shawntabrizi has provided it seems we should put this one off the shelf as !ink is not stable enough / changing syntax too frequently for completion of this bounty.

I will revoke and you can remove off any kind of plate until further iterations of !ink are more stable presumably.

[2019-09-27 11:14] dfishb opened #187 "Token Standards Element Room"
Hi all,

We created a Token Standards [room on Element](https://riot.im/app/#/room/%23PolkadotTokenStandards:web3.foundation) for community projects to coordinate around token standards for the cross-chain ecosystem.

Please join the discussion!

Dieter

[2019-10-04 21:30] Web3Foundation commented on #103
@wilfred-centrality if there is a need / want from centrality to claim this bounty please have the relative developer claim the bounty on gitcoin. Otherwise we can pay directly to @xlc; let us know.

[2019-10-04 21:35] Web3Foundation commented on #123
This bounty is still open for applicants

[2019-10-07 03:16] wilfred-centrality commented on #103
Thanks for the help @Web3Foundation, we'll have @holygits accept the bounty on Centrality's behalf

[2019-10-07 05:05] holygits commented on #103
@Web3Foundation may I be added as a worker to the issue via gitcoin? I'm unable to progress this from my end

[2019-10-07 07:52] kuhnchris commented on #103
Hey there. Chris from Gitcoin Community here.
@Web3Foundation can you please remove @xlc from the bounty? (Remove Worker) - then @holygits should be able to apply to this bounty.

If you need any assistance - please let me know!
Thanks,
Chris

[2019-10-09 21:11] Web3Foundation commented on #103
@kuhnchris / @wilfred-centrality @holygits done.

[2019-10-09 22:13] wilfred-centrality commented on #103
@Web3Foundation thanks for that. @holygits will claim when he's back from leave

[2019-10-10 09:52] sivo4kin commented on #123
yes. starting to configure environment

[2019-10-10 13:05] EdwardAThomson commented on #14
Hey @2075 We have a team working on ledger integration. You can see the issues that Jaco referred to above. ^

There is at least one other hardware wallet team that we've funded. This will help to keep tokens cold, but it won't cover validation. The latter is a harder task and is subject to change since we are going to update the cryptography in our validation algorithm.

That said, we are general

[2019-10-21 02:54] PascalPrecht commented on #159
Hey everyone,

I was wondering what's the status of this and wether there's a project/repo on GitHub that one could check out.

Thanks!

[2019-10-23 10:54] wimel commented on #132
Close the ISSUE, thanks for the help!!

[2019-10-23 10:54] #132 closed

[2019-10-24 13:03] dfishb commented on #159
It's still open so feel free to apply!

[2019-10-28 10:23] PascalPrecht commented on #159
Hey @dfishb !

Unfortunately, I don't think I have the expertise to work on this by myself, but I'd be highly interested in contributing to the project.

@GregTheGreek you still up for making this a thing?

[2019-10-29 15:14] Noc2 opened #204 "RFP - Minimal Parachain Development Kit (PDK)"
Hi everyone,

Currently, the only **Parachain Development Kit (PDK)** that exists is the combination of the Substrate blockchain framework and the cumulus extension, which is still in development. We would like to support the development of additional tools that will enable writing a parachain from scratch and connecting it to Polkadot.

For more information and for details on how to apply, please

[2019-10-31 18:22] hskang9 commented on #204
hey, I have a create-react-app+project-man development kit on substrate. I have mapped command for running substrate with the cli and trying to support Windows. If you have your parachain platform, I can add that in my development kit. If you want more detail, let's discuss.

[2019-10-31 18:31] hskang9 commented on #204
https://github.com/parachain-tracker/pyra

[2019-10-31 19:19] hskang9 commented on #204
here is the proposal WIP, you are welcome to join this project. https://github.com/w3f/Web3-collaboration/pull/205

[2019-11-05 08:03] PascalPrecht commented on #204
If anyone applies for this here and wants to build a PDK in TypeScript, I'd like to contribute (for learning purposes).

[2019-11-25 18:27] navshardx commented on #10
Hi @EdwardAThomson - our team at Shard X have developed a keyless wallet for institutions using secure multiparty computation. It'd be great to chat about preparing a polkadot implementation!

[2019-11-26 12:29] EdwardAThomson commented on #10
Hey @navshardx, This is something we can explore. If you have a something you can share then we can potentially take a quick review to get a better feeling for it. Ultimately, I'd push it towards our resident cryptographer @burdges.

I'm guessing this is with a view to potentially apply for a grant. The best next step would be to start preparing a grant application. We do have a lot of application

[2019-11-26 14:19] burdges commented on #10
Is there a paper or other explanation of cryptography, protocol, security assumptions, etc.?

[2019-11-29 11:42] navshardx commented on #10
Hi @EdwardAThomson , @burdges

Our CTO would be the best person to chat to about the technical details and what a polkadot implementation might look like. Please drop me a mail at nav@shardx.io or provide me with yours - I can schedule something as well as link you to our whitepaper and API docs

[2019-12-17 00:37] lastmjs commented on #159
Status? Are applications still open?

[2019-12-18 11:08] dfishb commented on #159
@lastmjs - We've received a couple of applications that we're in the process of considering but feel free to submit something! Ideally soon if possible :)

[2020-01-19 12:41] danforbes commented on #123
@sivo4kin - I would love to help out with this if you could use some more eyes and hands.

[2020-02-02 15:52] xiaods commented on #123
any update on it. if the issue is open, i can working on it.

[2020-02-15 08:56] xiaods commented on #123
don't know this bounty is alive? anyone can give some feedback?

[2020-02-17 17:15] Web3Foundation commented on #123
@mlnck yup all good!

[2020-02-20 02:56] mlnck commented on #123
@gitcoinbot replying back.
@Web3Foundation gave the official acceptance 2 days ago.

So I have kicked this into high gear and should have the work submitted by the weekend. Thanks!

[2020-02-23 17:19] developerfred commented on #123
@Web3Foundation, if possible i would like to work on this issue

[2020-04-14 08:46] Noc2 opened #275 "RFP - Bitcoin Bridge Implementation"
Hi everyone,

The [Interlay](https://www.interlay.io/) team recently completed a [specification](https://interlay.gitlab.io/polkabtc-spec/#) for a **trustless Bitcoin** bridge and are working on a [proof-of-concept implementation](https://github.com/interlay/BTC-Parachain). We are interested in collaborating with a team to produce a production-quality implementation of this specification suitable

[2020-04-22 00:38] Web3Foundation commented on #123
@mlnck never heard back from you; are you still working on this one?

[2020-04-23 19:05] mlnck commented on #123
@Web3Foundation Sincerest apologies... C-19 disrupted a lot. I'm about 80% finished and this week everything with the Full Time job seems to be stabilizing. Is it ok if I finalize it over the weekend? And if for any reason I'm unable to I'll remove myself from the ticket.

[2020-04-23 19:31] Web3Foundation commented on #123
@mlnck no problem at all, take your time if you're still looking into it; will be glad to see where you got!

[2020-05-21 18:18] #109 closed

[2020-05-21 18:19] #33 closed

[2020-05-21 18:19] #37 closed

[2020-05-21 18:19] #39 closed

[2020-05-21 18:19] #44 closed

[2020-05-21 18:19] #45 closed

[2020-05-21 18:19] #46 closed

[2020-05-21 18:19] #47 closed

[2020-05-21 18:19] #48 closed

[2020-05-21 18:19] #82 closed

[2020-05-21 18:19] #92 closed

[2020-05-21 18:20] #1 closed

[2020-05-21 18:20] #2 closed

[2020-05-21 18:20] #3 closed

[2020-05-21 18:20] #4 closed

[2020-05-21 18:20] #5 closed

[2020-05-21 18:20] #6 closed

[2020-05-21 18:20] #7 closed

[2020-05-21 18:20] #15 closed

[2020-05-21 18:20] #16 closed

[2020-05-21 18:20] #17 closed

[2020-05-21 18:20] #18 closed

[2020-05-21 18:20] #19 closed

[2020-05-21 18:20] #20 closed

[2020-05-21 18:20] #21 closed

[2020-05-21 18:20] #22 closed

[2020-05-21 18:20] #23 closed

[2020-05-21 18:20] #26 closed

[2020-05-21 18:20] #27 closed

[2020-05-21 18:20] #32 closed

[2020-05-21 18:20] #107 closed

[2020-05-21 18:20] #108 closed

[2020-05-21 18:21] #8 closed

[2020-05-21 18:21] #9 closed

[2020-05-21 18:21] #10 closed

[2020-05-21 18:22] leenpaws commented on #108
please stop spamming emails

[2020-05-21 18:22] #42 closed

[2020-05-21 18:22] #59 closed

[2020-05-21 18:24] #73 closed

[2020-05-21 18:24] #74 closed

[2020-07-03 02:34] whalelephant commented on #123
Hi, is this bounty still open? thanks!

[2020-07-06 16:33] Web3Foundation commented on #123
@whalelephant it is / was; as @mlnck didn't ever comment back; you're able to apply now.

[2020-07-07 01:06] whalelephant commented on #123
Just to clarify the scope after reading the above comments
- the ipfs registry pallet will allow for the storing and retrieval (by CID?) of the content hashes but will not verify them
- there will be some function identifying the different hash functions with the fn code

[2020-07-13 19:44] danforbes commented on #123
@whalelephant and others, I have prepared [a little document that I hope will answer some of your questions](https://docs.google.com/document/d/e/2PACX-1vSZFDZ-AAouD2WtddUtxzn8TkabA2jUMofah2cD_ZayB4LNETZRJiX2uE7aC1ZyEYPsRSnsCCkZVpk5/pub). Please feel free to contact me if there's anything else I can do to help!

[2020-07-14 08:21] whalelephant commented on #123
Hi @danforbes. That is helpful, although I don't think that at the moment the ipld rust lib can generate CID in `no_std` for the wasm build of the runtime. If we can return the CID from the offchain-worker for the scope it would be more feasible. Do let me know if my understanding is correct. thanks!

[2020-07-14 19:53] danforbes commented on #123
@whalelephant - great question...I didn't even know what [IPLD](https://ipld.io/) was :rocket: How difficult would it be for you to reproduce this behavior in a `no_std` environment that _can_ be included in a Wasm runtime? @lsaether - are we able to adjust our acceptance criteria a bit if implementing the CID calculation in a `no_std` environment proves to be too challenging?

[2020-07-15 14:15] #159 closed

[2020-08-14 18:00] CRYPTOBRIGHTBUTTERFLY opened #317 "General grants"

[2020-08-27 08:32] whalelephant commented on #123
hi, for another bounty actually I have forked couple of repos to compile to no_std. I have not used offchain workers before so if you guys still want to have this I am keen to try it out.

[2020-08-31 20:15] danforbes commented on #123
I think this is still something we'd be interested in supporting. @lsaether can you please confirm?

[2020-08-31 21:19] lsaether commented on #123
Yes the bounty is still open @whalelephant. Keep us updated on your progress!

[2020-09-04 15:56] #14 closed

[2020-10-26 18:39] danforbes commented on #123
Great to see progress on this! https://rs-ipfs.github.io/offchain-ipfs-manual/

[2021-01-19 19:52] burdges opened #387 "Three RFPs for "easy" crypto implementation"
I think https://github.com/arkworks-rs/curves/issues/17 should be straightforward if you know both the substrate wasm boundary and elliptic curves, but probably nobody knows both.

---

I think https://github.com/kobigurk/aggregatable-dkg/issues/1 should be easy, but it'd fall more to the original authors, but if someone were interested..

---

I implemented deliniearized witness multi-signatures

[2021-01-20 08:15] Noc2 commented on #103
Closing, since we already have quite a lot of runtime modules and this issue is no longer maintained. Feel free to apply for funding via the [open grants program](https://github.com/w3f/Open-Grants-Program).

[2021-01-20 08:15] #103 closed

[2021-01-23 08:45] treasersimplifies opened #391 "Project Saito's GitHub Link 404 Not Found"
I accidentally found that Saito( granted in 2020Q4-Wave8 )'s GitHub link(https://github.com/saito-lite) is 404 Not Found.

[2021-01-23 08:46] treasersimplifies commented on #391
maybe it's private?

[2021-01-23 12:52] Noc2 commented on #391
Thanks. I just updated the link: https://github.com/SaitoTech, but I’m not sure saito already started to work on the project. You can find the application here: https://github.com/w3f/Open-Grants-Program/blob/master/applications/saito-game-protocol-and-engine.md  At least so far they haven’t submitted a milestone.

[2021-01-23 12:52] #391 closed

[2021-02-03 11:41] semuelle opened #396 "Update the general grants readme"
Update the general grants readme.

_Originally posted by @Noc2 in https://github.com/w3f/Open-Grants-Program/issues/241#issuecomment-772399303_

[2021-02-03 11:42] semuelle commented on #396
I would have assigned myself, but I am merely a lowly contributor. ;)

[2021-02-16 10:13] #396 closed

[2021-02-16 11:31] burdges opened #403 "Reimplement TXQR in Rust"
We want an implementation of TXQR in Rust for Parity signer.  We'd encourage some public discussion of the exact design features of  TXQR, since maybe we'd find some small improvements.

https://github.com/maciejhirsz/uos/issues/7
https://github.com/paritytech/parity-signer/issues/457
https://github.com/paritytech/parity-signer/issues/320

[2021-03-18 19:14] alxs commented on #122
Closing since sentry nodes have been [deprecated](https://github.com/paritytech/substrate/issues/6845).

[2021-03-18 19:14] #122 closed

[2021-04-06 22:02] TriplEight opened #422 "missing all the pics from additional onfo channels"
https://github.com/w3f/General-Grants-Program/blob/master/grants/grants.md#additional-information

[2021-04-07 08:38] #422 closed

[2021-04-07 08:38] semuelle commented on #422
Thanks, @TriplEight!

[2021-04-25 05:17] ha842 opened #429 "Hh"

[2021-04-25 05:20] ha842 opened #430 "Hh"
Nice project

[2021-04-25 08:21] #429 closed

[2021-04-25 08:21] mmagician commented on #430
Thanks!

[2021-04-25 08:21] #430 closed

[2021-05-05 13:35] #43 closed

[2021-05-05 13:39] #11 closed

[2021-05-05 13:39] #155 closed

[2021-05-05 13:41] #12 closed

[2021-05-05 15:13] #123 closed

[2021-05-07 20:56] burdges commented on #403
Very cool!  Yes, any multi-frame tx should becomes more user friendly using raptorq, although maybe keep an eye out for regressions at small numbers like two frames or whatever.

We bite off larger obligations ala https://github.com/heartsucker/rust-tuf if we start doing upgrades, since a malicious apk might reactivate the wifi or whatever.   I'd expect it'd take too long via QR code anyways thoug

[2021-05-07 20:59] burdges commented on #403
As an aside, we'll try to make some progress on https://github.com/w3f/schnorrkel/issues/11 which should be interesting for parity signer.  Feel free to chat with me about it on Element.

[2021-05-10 07:18] Slesarew commented on #403
I'd instead think people could use memory cards,

This does not really fix malicious apk hazard, but any updates without full phone wipe are hazardous in fact.

The only safe alternative might be with memory cards, but in that case the card should be physically destroyed after update, otherwise this will not be safe. If we follow this path, we'll probably need to post safe memory card destruction

[2021-05-20 08:24] burdges opened #437 "Games?"
We expect parachains/parathreads can deliver respectable performance for dedicated applications, we need some demonstration applications that require more parachain blockspace than these little distributed finance things.  It's clear games provide an obvious direction, but which games played with a distributed database sound fun?

[2021-05-20 08:32] alxs commented on #437
We've been getting quite a few game-related applications lately. See:
- https://github.com/w3f/Open-Grants-Program/blob/master/applications/newomega.md
- https://github.com/w3f/Open-Grants-Program/blob/master/applications/dotmog.md
- https://github.com/w3f/Open-Grants-Program/blob/master/applications/mobile-game-framework.md
- https://github.com/w3f/Open-Grants-Program/blob/master/applications/sai

[2021-05-20 08:36] Zombieliu commented on #437
Yes, Web3Games provides game solutions based on Substrate. We also have related sample games and even recorded videos.

YOUTUBE https://www.youtube.com/watch?v=3PIXF1Sa5L0 【important !】

[2021-05-20 08:59] Noc2 commented on #437
Also, see https://bit.country/ or https://github.com/bit-country

[2021-05-25 00:32] GamePowerDev commented on #437
Hi @burdges, great topic and your talk regarding VRF usage was very interesting.

Our team at GamePower (https://gamepower.network) is approaching the issue from a different angle. We know the distributed ledger plays a big part in defi applications and for many of those it works perfectly. However, for gaming we believe relying 100% on the blockchain right now is a mistake (until there is more ad

[2021-05-25 06:39] burdges commented on #437
Appears you're describing a "state channel" between the user and game server.  We've never explored state channels ourselves because parachains should provide fast cheap transactions, but sub-block latency obviously remains state channel functionality.  I think state channels do not require fishermen per se.  I know some employ a monitoring service, but game use cases avoid this requirement provid

[2021-05-25 07:55] Noc2 commented on #437
Just to share some links: Regarding state channels and substrate, see [cChannel](https://github.com/celer-network/cChannel-substrate) and [cApps-substrate](https://github.com/celer-network/cApps-substrate). And regarding randomness potentially the following is interesting  https://github.com/Cardinal-Cryptography/substrate/tree/randomness-beacon based on this [grant application]( https://github.co

[2021-05-28 08:42] burdges commented on #437
I'd suggest folks think about doing a collectable card game engine.  Ideas:  I'd think few-party games could be played largely off-chain via a state channel, but on-chain games could perhaps be more open world and on-going.  Is an open world card game fun?  [Illuminati](https://en.wikipedia.org/wiki/Illuminati_(game)) style maybe?  I suppose de facto game card rules would be expanded via governanc

[2021-05-28 08:46] stonecoldpat commented on #437
Just to chip in a bit. I wrote a paper a few years ago about our experience building a game of battleship in a state channel (IC3 bootcamp project):
https://fc19.ifca.ai/wtsc/Battleship.pdf

The main issue is guaranteeing that game continues if the counterparty aborts. e.g. how do you finish the game? You just end up having to run it on-chain and it is a pretty annoying grieving factor. Since then

[2021-05-28 09:11] burdges commented on #437
An open world card game sounds tricky too.  Imagine players build a dungeon from cards they draw, like monster or trap cards, and also explore other players' dungeons.  If explorers can do permanent damage to dungeons, then must dungeon owners return all the time for repairs?  If not, then what can explorers actually do that's fun?

Also, can any card game be fun unless players frequently restart

[2021-07-12 07:06] polkastar opened #452 "Clarify abstract to grants table. What is a breach of terms"
Hi I am interested in some of the projects listed here. What does breach of terms mean and can that include projects that decided to stop doing their grant? Are all terminations because of bad reasons?

"Furthermore, the page lists terminations which happened due to a breach of the terms of the grants programs. Additionally, teams might have decided to stop working on the grant—though not necessar

[2021-07-12 07:34] Noc2 commented on #452
Thanks for your interest in the grants accepted list. Currently the list **doesn’t list teams as terminated that simply decided to stop working on a project**. We only list terminations that “happened due to a breach of the terms of the grants programs”. Most of the time the reason for the termination was that these teams used code without proper attribution.

If you want to learn more about the e

[2021-07-13 05:13] WeiXuG opened #453 "imToken also received a donation from the Web3 Foundation. Does that meet the requirements"
As far as I know, Imtoken is a commercial software maintained by Chinese developers. They have their own profit model. Why do they accept Web3 Foundation's sponsorship? Can you give a reasonable explanation

[2021-07-13 08:22] Noc2 commented on #453
Thanks for your interest in the web3 grants program. They delivered open source software as part of this grant (see [for example](https://github.com/consenlabs/token-core)) that can be used by others to develop their own wallet solution. We generally also support regular companies via our grants program as long as the deliverables are fully open source and useful for everyone in our ecosystem.

Le

[2021-07-13 16:01] polkastar commented on #452
I wrote to one i was interested in because i know some of the developer and he said he was not terminated because of this but because they didnt have a monetization model and ran out funds to complete milestones on time. "Most of the time the reason for the termination was that these teams used code without proper attribution." make their developers look worse than what happened. This should be cl

[2021-07-13 16:40] alxs commented on #452
@polkastar in that case the grant shouldn't be listed as terminated. It's possible that a team that was simply delayed, or stopped working on the grant voluntarily, was marked as terminated by mistake. If the team wants to answer here we'll make sure to look into the matter and amend the list if needed.

[2021-07-13 18:42] polkastar commented on #452
Ok i ask him. He said it was terminated but because of late and no longer needed milestones. Does this count or not?

[2021-07-13 19:39] Noc2 commented on #452
It would make it a lot easier if you could tell us which team you are referring to and we will look into it. Again, the list officially only lists terminations that happened due to a breach of the terms of the grants programs. Let us know in case you think a team is listed  here as terminated for the wrong reason.

[2021-07-15 09:36] EdwardAThomson commented on #437
Somehow I missed this thread when it first popped up. I've spent a lot of time over the last year and half digging through any project with at least a half claim to decentralized gaming. There has been more progress than many suspect. The two main problems have been a lack of marketing and a lack of funding. Ok, a third main issue is too many people defaulting to the Ethereum computation model of

[2021-07-19 06:51] Noc2 commented on #452
In case you were referring to the speckle os grant, I just updated just updated the list: https://github.com/w3f/Open-Grants-Program/blob/deprecate-general-grants/src/accepted_grant_applications.md This was indeed a mistake from us. I’m sorry for this and thanks a lot for bringing this to our attention. I’m closing the issue. Let me know in case you were referring to a different grant.

[2021-07-19 06:51] #452 closed

[2021-07-20 12:34] #204 closed

[2021-07-20 12:34] #187 closed